<style>
*{
  box-sizing: border-box;
}
.pfd_main_container{
  width: 100%;
}
.user_name{
  color: #03c4cc; 
  font-size: 18px; 
  display: inline-block; 
  position: 
  relative; 
  top: -22px; 
  left: 8px;
}
.custom_row{
  padding-top: 15px;
}
.left_side_content{
  width: 70%; 
  float: left;
  padding-right: 20px;
}
.right_side_content{
  width: 30%; 
  float: right;
  padding-left: 5px;
}
.right_side_inner{
  margin-top: 240px; 
}
.uesr_details{
  padding: 12px 0;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  overflow: auto;
  margin-bottom: 30px;
}
.btn_ask{
  background: #03c4cc;
  margin-top: 14px;
  padding: 5px 45px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
.review{
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  margin-top: 30px;
  padding: 10px 0; 
  overflow: auto;
}
.footer_section{
  width: 100%;
  padding-top: 40px; 
  clear: both;
}
.left_side{
  width: 50%;
  float: left;
  color: #6c6c6c;
  padding-right: 10px; 
}
.left_side p{
  margin: 0;
  margin-bottom: 7px;
}
.right_side{
  width: 50%;
  float: right;
  padding-left: 10px;
}
.links{
  padding: 10px;
  margin-top: 30px;
}
.links a{
  display: block;
  color: #03c4cc;
  text-decoration: none;
}

</style>

<div class="pfd_main_container">
  <div class="top_part">
    <p>
      <div><%= wicked_pdf_image_tag 'logo.png', style: 'height: 35px; margin-left: -3px;'%></div>
      <div style="float:right;"><h3><%=@voucher_id%></h3></div>
    </p>
    <p style="font-size: 16px; font-weight: 600;">
      <%= "Dear #{PersonViewUtils.person_display_name_for_type(transaction.buyer, @community)}, Below is your redeem instruction. Please use this voucher to redeem your Offer."%></p>
    <div style="padding-top: 15px;">
      <% if transaction.listing.author.image.present? %>
        <%= wicked_pdf_image_tag transaction.listing.author.image.url, style: 'height: 60px; width: 60px; border-radius: 50%; object-fit: cover;'%>
      <% end %>
      <span class="user_name"><%= PersonViewUtils.person_display_name_for_type(transaction.listing.author, @community)%> </span>
      <%if received_testimonials.size > 0%>
        <span style=" position: relative; top: -22px; left: 30px;">
          <%= wicked_pdf_image_tag 'favourites-filled-star-symbol.png', style: 'height: 14px;'%>
          <%= "(#{feedback_positive_percentage.to_s}% #{t("people.show.positive")}, #{received_positive_testimonials.size}/#{received_testimonials.size}) Feedback" %>
        </span>
      <%else%>
        <span style=" position: relative; top: -22px; left: 30px;">
          <%= wicked_pdf_image_tag 'favourites-filled-star-symbol.png', style: 'height: 14px;'%>
          No reviews
        </span>  
      <%end%>  
    </div>
  </div>
  <!-- content -->
  <div class="custom_row">
    <div class="left_side_content">
      <% if transaction.listing.listing_images.present? %>
        <%= wicked_pdf_image_tag transaction.listing.listing_images.first.image.url, style: 'height:350px; width: 100%; object-fit: cover;'%>
      <% end %>
      <h2 style="font-size: 20px; font-weight: normal; margin-top: 24px; margin-bottom: 10px;"><%= transaction.listing.title %></h2>
      <p style="font-size: 15px; margin-top: 0; color: #6e6e6e; text-align: justify;"><%= transaction.listing.description %></p>
      <%if @instructions.present?%>
        <h2 style="font-size: 20px; font-weight: normal; margin-top: 24px; margin-bottom: 10px;">REDEEM INSTRUCTIONS:</h2>
        <p style="font-size: 15px; margin-top: 0; color: #6e6e6e; text-align: justify;"><%= @instructions %></p>
      <%end%>
      <%if @website_field.present?%>
        <h2 style="font-size: 20px; font-weight: normal; margin-top: 24px; margin-bottom: 10px;">WEBSITE/REGISTRATION/BOOKING LINK:</h2>
        <p style="font-size: 15px; margin-top: 0; color: #6e6e6e; text-align: justify;">
          <%= link_to @website_field, @website_field.include?("http") ? @website_field : "https://#{@website_field}", target: '_blank', style: "display: block;color:#03c4cc;text-decoration: none;"%>
        </p>
      <%end%>
    </div>

    <div class="right_side_content">
      <div class="right_side_inner">
        
        <div class="uesr_details">
          <div style="float: left;">
          <% if transaction.listing.author.image.present? %>
            <%= wicked_pdf_image_tag transaction.listing.author.image.url, style: 'height: 80px; width: 80px; border-radius: 5px; object-fit: cover;'%>
          <% end %>
          </div>
          <div style="float: left; margin-left: 10px;">
            <span style="color: #03c4cc; font-size: 18px; display: block; margin-top: 8px;"><%= PersonViewUtils.person_display_name_for_type(transaction.listing.author, @community)%> </span>
            <%= link_to "Ask Seller", new_person_person_message_path(person_id: @transaction.listing.author, listing_id: @transaction.listing.id), class: "btn_ask" %>
          </div>
        </div>

        <% if @transaction.listing.author.description.present? %>
          <div class="member_info">
            <h2 style="font-size: 20px; margin: 10px 0; padding: 0;">Member's profile info: </h2>
            <p style="margin: 0; padding: 0; color: #3c3c3c; padding-left: 15px;"><%= truncate(@transaction.listing.author.description, :length => 300, :omission => '...') %></p>
          </div>
        <% end %>
        <div class="review">
          <%if received_testimonials.size > 0%>
            <%= wicked_pdf_image_tag 'favourites-filled-star-symbol.png', style: 'height: 14px; float: left; margin-left: 2px;'%> 
            <div style="float: left; margin-left: 15px;">
              <%= "(#{feedback_positive_percentage.to_s}% #{t("people.show.positive")}, #{received_positive_testimonials.size}/#{received_testimonials.size}) Feedback" %>
            </div>
          <%else%>
            <span>
              <%= wicked_pdf_image_tag 'favourites-filled-star-symbol.png', style: 'height: 14px; float: left; margin-left: 2px;'%>
              <span style="position: relative; top: 6px; margin-left: 10px;">No reviews</span>
            </span>
          <%end%>  
        </div>
      </div>
    </div>
  </div>
  <!--End content -->
  <div class="footer_section">
    <div class="left_side">
      <h2 style="font-size: 18px; font-weight: normal;">How To Use</h2>
      <p>1. Pull up voucher with our mobile app (or print it out).</p>
      <p>2. Follow instructions on the voucher to redeem offer</p>
      <p>3. Enjoy!</p>
      <div style="padding-top: 10px;">
        <%= wicked_pdf_image_tag 'https://merseyburns.com/appstore.png', style: 'height: 50px;'%>
        <%= wicked_pdf_image_tag 'https://www.bayalarmmedical.com/wp-content/uploads/2017/02/google-play-button.png', style: 'height: 46px; margin-left: 8px; position: relative; top: -3px;'%>
        
      </div>
    </div>
    <div class="right_side">
      <div style="border: 1px solid #f1f1f1;">
        <div style="background: #f6f7f8; padding: 10px; ">
          <h3 style="color: #6c6c6c; margin: 15px 0; font-size: 16px;">THE RULES</h3>
          <p style="font-size: 14px;">Gratuity and any applicable taxes are not included</p>
          <p style="font-size: 14px;">This offer must be redeem within 90 days of purchase</p>
          <p style="font-size: 14px;">These are the restrictions that apply to every Avontage voucher (unless the Fine Print specifies an exception)</p>
        </div>
        <div class="links">
          <h3 style="color: #6c6c6c; margin: 15px 0; font-size: 16px;">WE'RE HERE TO HELP</h3>
          <a href="https://www.avontage.com">
            Visit Avontage.com
          </a>
          <a href="javascript:void(0)">
            Call 415-944-9067
          </a>
          <a href="javascript:void(0)">
            Email: VIPDesk@Avontage.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>