.voucher
  .voucher_top_section
    = image_tag "logo.png", class: "voucher_logo_image"
    %p
      Dear Buyer_Name, Below is your redeem instruction. Please use this voucher to redeem your Offer.
  .voucher_inner_content
    .text_voucher_item
      .text_section_logo
        = image_tag "https://cdn.pixabay.com/photo/2016/06/09/18/36/logo-1446293__340.png"
        %a{:href => "#"}
          Laura @TrueREST Float Spa
      .text_section
        %h2
          60 Min of Blissful Floating
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus tempora eligendi cupiditate neque maiores ipsam atque fugit.
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus tempora eligendi cupiditate neque maiores ipsam atque fugit.
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsum commodi ut mollitia ea sapiente esse officia a, incidunt quod rerum dolorem pariatur dolorum vero cum qui, cumque, unde quam?
        .bar_code
          = image_tag "https://www.alliant.edu/wp-content/uploads/2018/04/14_mybarcode.png"
          %p.code
            123458

    .image_voucher_item
      .voucher_card
        = image_tag "BeautySpas.png", class: "voucher_card_img"
        %h2.card_name
          Save a Tree
        %p
          Skip the paper and redeem your Avontage right from our mobile app.
        .google_play
          %a{:href => "#"}
            = image_tag "google_play.png"
          %a.marg{:href => "#"}
            = image_tag "google_play_2.png"
  .voucher_grid
    .voucher_grid_items
      %h2
        How To Use
      %p
        1. Lorem ipsum dolor sit amet dolor sit amet
      %p
        2. Lorem ipsum dolor sit amet dolor sit amet
      %p
        3. Lorem ipsum dolor sit amet 
      %p
        4. Lorem ipsum dolor sit amet
      
      %h2
        Redeem At
      %p
        voluptatibus harum illum libero! Assumenda dignissimos tempore impedit temporibus, at. Perspiciatis voluptate quas, esse. Repellat perferendis 

    .voucher_grid_items
      %h3
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit,
      %p
        voluptatibus harum illum libero! Assumenda dignissimos tempore impedit temporibus, at. Perspiciatis voluptate quas, esse. Repellat perferendis veniam blanditiis vero repudiandae, cupiditate.
    .voucher_grid_items
      .bird
        .color_heading
          %h3
            THE RESULT
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima delectus voluptatibus repellendus,
        .pd
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat aspernatur, corporis asperiores harum dolorem molestias commodi dicta quasi ducimus necessitatibus facere,