- binding.pry
.voucher
  .voucher_top_section
    = image_tag "logo.png", class: "voucher_logo_image"
    %p
      = "Dear #{@transaction.starter.given_name} #{@transaction.starter.family_name}, Below is your redeem instruction. Please use this voucher to redeem your Offer."
  .voucher_inner_content
    .text_voucher_item
      .text_section_logo
        - if @transaction.listing.author.image_file_name.present?
          = image_tag @transaction.listing.author.image.url
        %a{:href => "en/#{@transaction.listing.author.username}"}
          = "#{@transaction.listing.author.given_name} #{@transaction.listing.author.family_name}"
      .text_section
        %h2
          = @transaction.listing.title
        %p
          = @transaction.listing.description
        .bar_code
          = image_tag "https://www.alliant.edu/wp-content/uploads/2018/04/14_mybarcode.png"
          %p.code
            123458

    .image_voucher_item
      .voucher_card
        - if @transaction.listing.listing_images.present?
          = image_tag @transaction.listing.listing_images.first.image.url, class: "voucher_card_img"
        %h2.card_name
          Save a Tree
        %p
          Skip the paper and redeem your Avontage right from our mobile app.
        .google_play
          %a{:href => "#"}
            = image_tag "google_play.png"
          %a.marg{:href => "#"}
            = image_tag "google_play_2.png"
  .voucher_grid
    .voucher_grid_items
      %h2
        How To Use
      %p
        1. Pull up voucher with our mobile app (or print it out).
      %p
        2. Appointment required, call 480-219-7990 and mention your voucher.
      %p
        3. Present voucher upon arrival.
      %p
        4. Enjoy!
      
      %h2
        Redeem At
      %p
        - if @transaction.listing.location.present?
          = @transaction.listing.location.address

    .voucher_grid_items
      %h3
        INSTRUCTIONS (redeem instructions, any restrictions, or other details the Buyer needs to be aware):
      %p
        - if @instructions.present?
          = @instructions
    .voucher_grid_items
      .bird
        .color_heading
          %h3
            THE RULES
          %p
            These are the restrictions that apply to every Avontage voucher (unless the Fine Print specifies an exception)
        .pd
          %h3
            WE'RE HERE TO HELP
          %a{:href => "javascript:void(0)"}
            Visit Avontage.com
          %a{:href => "javascript:void(0)"}
            Call 415-944-9067
          %a{:href => "javascript:void(0)"}
            Email: VIPDesk@Avontage.com
%a{:href => "#{voucher_show_avontage_voucher_path(format: :pdf)}", :target => "_blank"} Print
