<div class="sub-header">
  <div class="custom-search-bar">
    <form action="/s" method="get" class="search-form">
      <%
        placeholder = @current_user.present? ? "Hi #{@current_user.given_name}! #{@community_customization.search_placeholder}" : "#{@community_customization.search_placeholder}"
      %>
      <input type="text" name="q" id="search_val" value="<%=params[:q]%>" placeholder="<%= placeholder %>" class="style-for-input">
      <button type="submit" class="search-btn">
        <u class="text">Search</u>
        <div>
          <svg width="17" height="17" viewBox="336 14 17 17" xmlns="http://www.w3.org/2000/svg"><g opacity=".7" fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 352 15)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M11 11l3.494 3.494"></path><circle cx="6" cy="6" r="6"></circle></g></svg>
        </div>
      </button>
    </form>

    <div class="reload_your_balance-box">
      <div class="bank_balance">
        Your Avontage Banks Balance
        <span class="balance">
          <%= image_tag 'avonatge_currency.png', alt: 'currency', class: 'currency_icon' %>
          200.00  
        </span>
      </div>
      <%= link_to 'Reload Your Balance', '', class: 'reload_blnce_btn' %>
    </div>

    <div class="badge_review_box">
      <div class="flex_box">
        <%= image_tag "varified.png", alt: 'badge', class: 'badge_img verified' %>
        <span>verified</span>
      </div>
      <div class="flex_box">
        <%= image_tag "medal_gold.png", alt: 'badge', class: 'badge_img medal' %>
        <span>level</span>
      </div>
      <div class="flex_box">
        <%= image_tag "Reveiws_star.png", alt: 'badge', class: 'badge_img review' %>
        <span>4 reviews</span>
      </div>
    </div>
    
  </div>
</div>
