<%- content_for :title, "Barter Trade Skilled Freelancers and Local Service Businesses - Avontage" %>
<%- content_for :meta_description, "Avontage, An online platform for local service businesses, highly skilled freelancers, influencers to trade exchange services.  Join to trade for digital marketing, logo design, health and beauty, and freelance services."%>

<% public_and_not_logged_in = (@current_community.public? && !logged_in?)%>
<% if @homepage_dynamic.present? %>
  <div class="main_head_coverphoto col-md-12 col-sm-12 col-xs-12 no_padding_default">
    <div class="cover_photo" style='background: url("<%= @current_community.cover_photo.present? ? @current_community.cover_photo.url(:original) : asset_url('main_cover.png')%>");'>
      <h1 class="main_cover_title">
        <%= community_slogan.html_safe %>
      </h1>
      <%= link_to sign_up_path do %>
        <%= button_tag 'JOIN OUR COMMUNITY',class: 'community_tab' %>
      <% end %>
      <p class="under_main_title">
        <%= community_description.html_safe %>
      </p>
    </div>
    <div class="main_wrapper">
      <div class="sub_wrapper">
        <h3 class="under_cover_photo_title">
          <%= @homepage_dynamic.local_business_sec_heading rescue nil %>
          <!-- A local community of Arizona small business owners and freelancers selling special Offers online<br/> without the high fees. <br/>Collaborate to gain high quality clients, repeat customers, save money, and KEEP IT LOCAL. -->  
        </h3>
        <div class="col-md-12 col-sm-12 col-xs-12 categories no_padding_default">
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? (@homepage_dynamic&.local_business_sec_col1_explore_btn_link) : sign_up_path do %>
              <div class="listing_frame">
                <% if @homepage_dynamic&.local_business_sec_col1_image.present? %>
                  <div class="image_frame">
                    <%= image_tag @homepage_dynamic.local_business_sec_col1_image.url, class: '' %>
                  </div>
                <% end %>
                <div class="listing_details">
                  <div class="category_heading"><%= @homepage_dynamic&.local_business_sec_col1_heading %></div>
                  <% if @homepage_dynamic&.local_business_sec_col1_explore_btn_link.present? %>
                    <%= link_to public_and_not_logged_in  ? @homepage_dynamic.local_business_sec_col1_explore_btn_link : sign_up_path do %>
                      <%= button_tag @homepage_dynamic&.local_business_sec_col1_explore_btn_text, class:'explore_button' %>
                    <% end %>
                  <% end %>
                  <div class="description"><%= @homepage_dynamic&.local_business_sec_col1_explore_btn_content %></div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col2_explore_btn_link : sign_up_path do %>
              <div class="listing_frame">
                <% if @homepage_dynamic&.local_business_sec_col2_image.present? %>
                  <div class="image_frame">
                    <%= image_tag @homepage_dynamic&.local_business_sec_col2_image&.url, class: '' %>
                  </div>
                <% end %>
                <div class="listing_details">
                  <div class="category_heading"><%= @homepage_dynamic&.local_business_sec_col2_heading %></div>
                  <% if @homepage_dynamic&.local_business_sec_col2_explore_btn_link.present? %>
                  <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col2_explore_btn_link : sign_up_path do %>
                    <%= button_tag @homepage_dynamic&.local_business_sec_col2_explore_btn_text, class:'explore_button' %>
                  <% end %>
                  <% end %>
                  <div class="description"><%= @homepage_dynamic&.local_business_sec_col2_explore_btn_content %></div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col3_explore_btn_link : sign_up_path do %>
              <div class="listing_frame">
                <% if @homepage_dynamic&.local_business_sec_col3_image.present? %>
                  <div class="image_frame">
                    <%= image_tag @homepage_dynamic&.local_business_sec_col3_image.url, class: '' %>
                  </div>
                <% end %>
                <div class="listing_details">
                  <div class="category_heading"><%= @homepage_dynamic&.local_business_sec_col3_heading %></div>
                  <% if @homepage_dynamic&.local_business_sec_col3_explore_btn_link.present? %>
                  <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col3_explore_btn_link : sign_up_path do %>
                    <%= button_tag @homepage_dynamic&.local_business_sec_col3_explore_btn_text, class:'explore_button' %>
                  <% end %>
                  <% end %>
                  <div class="description"><%= @homepage_dynamic&.local_business_sec_col3_explore_btn_content %></div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col4_explore_btn_link : sign_up_path do %>
              <div class="listing_frame">
                <% if @homepage_dynamic&.local_business_sec_col4_image.present? %>
                  <div class="image_frame">
                    <%= image_tag @homepage_dynamic&.local_business_sec_col4_image.url, class: '' %>
                  </div>
                <% end %>
                <div class="listing_details">
                  <div class="category_heading"><%= @homepage_dynamic&.local_business_sec_col4_heading %></div>
                  <% if @homepage_dynamic&.local_business_sec_col4_explore_btn_link.present? %>
                    <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col4_explore_btn_link : sign_up_path do %>
                      <%= button_tag @homepage_dynamic&.local_business_sec_col4_explore_btn_text, class:'explore_button' %>
                    <% end %>
                  <% end %>
                  <div class="description"><%= @homepage_dynamic&.local_business_sec_col4_explore_btn_content %></div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col5_explore_btn_link : sign_up_path do %>
              <div class="listing_frame">
                <% if @homepage_dynamic&.local_business_sec_col5_image.present? %>
                  <div class="image_frame">
                    <%= image_tag @homepage_dynamic&.local_business_sec_col5_image.url, class: '' %>
                  </div>
                <% end %>
                <div class="listing_details">
                  <div class="category_heading"><%= @homepage_dynamic&.local_business_sec_col5_heading %></div>
                  <% if @homepage_dynamic&.local_business_sec_col5_explore_btn_link.present? %>
                    <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col5_explore_btn_link : sign_up_path do %>
                      <%= button_tag @homepage_dynamic&.local_business_sec_col5_explore_btn_text, class:'explore_button' %>
                    <% end %>
                  <% end %>
                  <div class="description"><%= @homepage_dynamic&.local_business_sec_col5_explore_btn_content %></div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col6_explore_btn_link : sign_up_path do %>
              <div class="listing_frame">
                <% if @homepage_dynamic&.local_business_sec_col6_image.present? %>
                  <div class="image_frame">
                    <%= image_tag @homepage_dynamic&.local_business_sec_col6_image.url, class: '' %>
                  </div>
                <% end %>
                <div class="listing_details">
                  <div class="category_heading"><%= @homepage_dynamic&.local_business_sec_col6_heading %></div>
                  <% if @homepage_dynamic&.local_business_sec_col6_explore_btn_link.present? %>
                  <%= link_to public_and_not_logged_in  ? @homepage_dynamic&.local_business_sec_col6_explore_btn_link : sign_up_path do %>
                    <%= button_tag @homepage_dynamic&.local_business_sec_col6_explore_btn_text, class:'explore_button' %>
                  <% end %>
                  <% end %>
                  <div class="description"><%= @homepage_dynamic&.local_business_sec_col6_explore_btn_content %></div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="under_categories col-md-12 col-sm-12 col-xs-12">
          <% if @homepage_dynamic&.explore_service_heading_title.present? %>
          <%= link_to @homepage_dynamic&.explore_service_heading_title, public_and_not_logged_in ? @homepage_dynamic&.explore_service_heading_link : sign_up_path ,class:'more_services'%>
          <% end %>



          <div class="explore_services">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <% if @homepage_dynamic&.explore_service_col1_icon.present? %>
                  <%= image_tag @homepage_dynamic&.explore_service_col1_icon.url, class: 'explore-service-icon' %>
                <% end %>
                <h1 class="service-heading"><%= @homepage_dynamic&.explore_service_col1_heading %></h1>
                <p class="service-details"><%= @homepage_dynamic&.explore_service_col1_content %></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <% if @homepage_dynamic&.explore_service_col2_icon.present? %>
                  <%= image_tag @homepage_dynamic&.explore_service_col2_icon.url, class: 'explore-service-icon' %>
                <% end %>
                <h1 class="service-heading"><%= @homepage_dynamic&.explore_service_col2_heading %></h1>
                <p class="service-details"><%= @homepage_dynamic&.explore_service_col2_content %></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <% if @homepage_dynamic&.explore_service_col3_icon.present? %>
                  <%= image_tag @homepage_dynamic&.explore_service_col3_icon.url, class: 'explore-service-icon' %>
                <% end %>
                <h1 class="service-heading"><%= @homepage_dynamic&.explore_service_col3_heading %></h1>
                <p class="service-details"><%= @homepage_dynamic&.explore_service_col3_content %></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <% if @homepage_dynamic&.explore_service_col4_icon.present? %>
                  <%= image_tag @homepage_dynamic&.explore_service_col4_icon.url, class: 'explore-service-icon' %>
                <% end %>
                <h1 class="service-heading"><%= @homepage_dynamic&.explore_service_col4_heading %></h1>
                <p class="service-details"><%= @homepage_dynamic&.explore_service_col4_content %></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <% if @homepage_dynamic&.explore_service_col5_icon.present? %>
                  <%= image_tag @homepage_dynamic&.explore_service_col5_icon.url, class: 'explore-service-icon' %>
                <% end %>
                <h1 class="service-heading"><%= @homepage_dynamic&.explore_service_col5_heading %></h1>
                <p class="service-details"><%= @homepage_dynamic&.explore_service_col5_content %></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <% if @homepage_dynamic&.explore_service_col6_icon.present? %>
                  <%= image_tag @homepage_dynamic&.explore_service_col6_icon.url, class: 'explore-service-icon' %>
                <% end %>
                <h1 class="service-heading"><%= @homepage_dynamic&.explore_service_col6_heading %></h1>
                <p class="service-details"><%= @homepage_dynamic&.explore_service_col6_content %></p>
              </div>
            </div>
          </div>

          <div class="discover-community">
            <h4 class="discover-heading"><%= @homepage_dynamic&.discover_community_heading %></h4>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="left-side">
                <p class="discover-details"><%= @homepage_dynamic&.discover_community_description %></p>
                <!-- <p class="discover-details top-p">Join us to see who's here!</p> -->
                <%if @homepage_dynamic&.discover_community_button_text.present? %>
                  <div class="movement_btn">
                    <%= link_to @homepage_dynamic&.discover_community_button_text, @homepage_dynamic&.discover_community_button_link, class: 'button'%>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <% if @homepage_dynamic&.discover_community_right_image.present? %>
                <div class="right-side">
                  <%= image_tag @homepage_dynamic&.discover_community_right_image.url, class: 'comminity-pic' %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="quotes-section">
            <div class="members_wrapper ipad">
              <h1 class="our-members"><%= @homepage_dynamic&.testimonial_main_heading %></h1>
              <div class="member-section custom_container">
                <%=link_to "https://www.avontage.com/en/eic_agency" do%>
                  <div class="member-box">
                    <div class="inner-box">
                      <div class="testimonial-headshot text-center">
                        <%# jessica = Person.find_by(username: "jessica")%>
                        <%# avatar = jessica.present? && jessica.image.present? ? jessica.image.url(:medium) : missing_avatar(:thumb) %>
                        <%#= image_tag avatar%>

                        <%= image_tag @homepage_dynamic&.testimonial_col1_image.url rescue nil %>
                      </div>
                      <div class="member-detail text-center">
                        <p class="name"><%= @homepage_dynamic&.testimonial_column1_name %></p>
                        <p class="work"><%= @homepage_dynamic&.testimonial_column1_work %></p>
                        <p class="type"><%= @homepage_dynamic&.testimonial_column1_type %></p>
                        <% if @homepage_dynamic&.testimonial_column1_star_count.present? %>
                          <div class="star_container">
                            <% (1..@homepage_dynamic&.testimonial_column1_star_count).each do |star| %>
                              <%= image_tag "star.png" %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <p class="card-detail"><%= @homepage_dynamic&.testimonial_column1_content %></p>
                    </div>
                  </div>
                <%end%>
                <%=link_to "https://www.avontage.com/en/eic_agency" do%>
                  <div class="member-box">
                    <div class="inner-box">
                      <div class="testimonial-headshot text-center">
                        <%# jessica = Person.find_by(username: "jessica")%>
                        <%# avatar = jessica.present? && jessica.image.present? ? jessica.image.url(:medium) : missing_avatar(:thumb) %>
                        <%#= image_tag avatar%>
                        <%= image_tag @homepage_dynamic&.testimonial_col2_image.url rescue nil %>
                      </div>
                      <div class="member-detail text-center">
                        <p class="name"><%= @homepage_dynamic&.testimonial_column2_name %></p>
                        <p class="work"><%= @homepage_dynamic&.testimonial_column2_work %></p>
                        <p class="type"><%= @homepage_dynamic&.testimonial_column2_type %></p>
                        <% if @homepage_dynamic&.testimonial_column2_star_count.present? %>
                          <div class="star_container">
                            <% (1..@homepage_dynamic&.testimonial_column2_star_count).each do |star| %>
                              <%= image_tag "star.png" %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <p class="card-detail"><%= @homepage_dynamic&.testimonial_column2_content %></p>
                    </div>
                  </div>
                <% end %>
                <%=link_to "https://www.avontage.com/en/eic_agency" do%>
                  <div class="member-box">
                    <div class="inner-box">
                      <div class="testimonial-headshot text-center">
                        <%# jessica = Person.find_by(username: "jessica")%>
                        <%# avatar = jessica.present? && jessica.image.present? ? jessica.image.url(:medium) : missing_avatar(:thumb) %>
                        <%#= image_tag avatar%>
                        <%= image_tag @homepage_dynamic&.testimonial_col3_image.url rescue nil %>
                      </div>
                      <div class="member-detail text-center">
                        <p class="name"><%= @homepage_dynamic&.testimonial_column3_name %></p>
                        <p class="work"><%= @homepage_dynamic&.testimonial_column3_work %></p>
                        <p class="type"><%= @homepage_dynamic&.testimonial_column3_type %></p>
                        <% if @homepage_dynamic&.testimonial_column3_star_count.present? %>
                          <div class="star_container">
                            <% (1..@homepage_dynamic&.testimonial_column3_star_count).each do |star| %>
                              <%= image_tag "star.png" %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <p class="card-detail"><%= @homepage_dynamic&.testimonial_column3_content %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="How-it-Works-wrapper">
              <h1 class="heading-work"><%= @homepage_dynamic&.how_it_work_heading %></h1>
              <div class="inner-work">
                <div class="col-sm-7 col-md-7 col-xs-12">
                  <div class="left-side-text">
                    <%if @homepage_dynamic&.how_it_work_col1_heading.present? %>
                      <h1 class="heading-left"><%= @homepage_dynamic&.how_it_work_col1_heading %></h1>
                    <% end %>
                     <p class="left-text"><%= @homepage_dynamic&.how_it_work_col1_content %></p>

                    <%if @homepage_dynamic&.how_it_work_col2_heading.present? %>
                      <h1 class="heading-left"><%= @homepage_dynamic&.how_it_work_col2_heading %></h1>
                    <% end %>
                     <p class="left-text"><%= @homepage_dynamic&.how_it_work_col2_content %></p>

                    <%if @homepage_dynamic&.how_it_work_col3_heading.present? %>
                      <h1 class="heading-left"><%= @homepage_dynamic&.how_it_work_col1_heading %></h1>
                    <% end %>
                     <p class="left-text"><%= @homepage_dynamic&.how_it_work_col3_content %></p>
                    <% if @homepage_dynamic&.how_it_work_button_text.present? %>
                       <div>
                          <%= link_to @homepage_dynamic&.how_it_work_button_link do %>
                            <button class="get-started"><%= @homepage_dynamic&.how_it_work_button_text %></button>
                          <% end %>
                       </div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-5 col-md-5 col-xs-12">
                  <% if @homepage_dynamic&.how_it_work_right_image.present? %>
                    <div class="right-side-img">
                      <%= image_tag @homepage_dynamic&.how_it_work_right_image.url, class: 'earn_quality' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="main_wrapper_second">
      <div class="col-md-12 col-sm-12 col-xs-12 no_padding_default main_frame_business">
        <h2 class="heading_market"><%= @homepage_dynamic&.advantage_heading %></h2>
        <!-- <p class="below_heading_market">work & live like an owner!</p> -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="listing_frame">
            <% if @homepage_dynamic&.advantage_col1_image.present? %>
              <div class="listing_image">
                <%= image_tag @homepage_dynamic&.advantage_col1_image.url, class: 'earn_quality' %>
              </div>
            <% end %>
            <div class="listing_description">
              <h2><%= @homepage_dynamic&.advantage_col1_heading %></h2>
              <p><%= @homepage_dynamic&.advantage_col1_content %></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="listing_frame">
            <% if @homepage_dynamic&.advantage_col2_image.present? %>
              <div class="listing_image">
                <%= image_tag @homepage_dynamic&.advantage_col2_image.url, class: 'earn_quality' %>
              </div>
            <% end %>
            <div class="listing_description">
              <h2><%= @homepage_dynamic&.advantage_col1_heading %></h2>
              <p><%= @homepage_dynamic&.advantage_col1_content %></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="listing_frame">
            <% if @homepage_dynamic&.advantage_col3_image.present? %>
              <div class="listing_image">
                <%= image_tag @homepage_dynamic&.advantage_col3_image.url, class: 'earn_quality' %>
              </div>
            <% end %>
            <div class="listing_description">
              <h2><%= @homepage_dynamic&.advantage_col3_heading %></h2>
              <p><%= @homepage_dynamic&.advantage_col3_content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="main_wrapper">
      <div class="sub_wrapper">
        <div class="col-md-7 col-sm-12 col-xs-12 no_padding_default">
          <div class="business_group">
            <%#= image_tag 'business_group.png',class: 'business_image' %>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 no_padding_default">
          <div class="business_details">
            <h2>A MUST HAVE APP</h2>
            <p>We are creating a magical experience to connect local business owners, entrepreneurs, freelancers, influencers, makers, and doers to help grow your business</p>
            <%#= link_to about_infos_path,class: 'anchor_web' do %>
              <%#=  button_tag 'Read More',class:'read_more_tab'%>
            <%# end %>
          </div>
        </div>
      </div>
    </div> -->
    <div class="footer_bottom">
      <div class="footer_wrapper">
        <ul class="social_icons_list">
          <li><%= link_to 'https://www.instagram.com/avontage/',target:"_blank" do %><i class="fa fa-instagram social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://www.facebook.com/avontage/',target:"_blank" do %><i class="fa fa-facebook social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://www.linkedin.com/company/avontage/',target:"_blank" do %><i class="fa fa-linkedin social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://twitter.com/avontagebiz',target:"_blank" do %><i class="fa fa-twitter social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://www.pinterest.com/avontage/avontage/',target:"_blank" do %><i class="fa fa-pinterest-p social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://avontage.tumblr.com/',target:"_blank" do %><i class="fa fa-tumblr social_icons" aria-hidden="true"></i><% end %></li>
        </ul>
        <div class="footer_list col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-2 col-sm-2 col-xs-12 no_padding_default extra_div"></div>
          <div class="col-md-2 col-sm-2 col-xs-12 mobile_center">
            <span>Get started</span>
            <%= link_to 'Create an account', sign_up_path %>
            <%= link_to 'Post your Offers', new_listing_path %>
            <%= link_to 'How-it-Works', how_to_use_infos_path %>
            <%= link_to 'Terms of service', '/terms_and_conditions_page' %>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 extra_div mobile_center">
            <span>Learn more</span>
            <%= link_to 'Benefits', about_infos_path,target:"_blank" %>
            <%= link_to 'FAQ', how_to_use_infos_path, target:"_blank" %>
            <%= link_to 'About Us', about_infos_path %>
            <%= link_to 'Blog', '/blog' %>
            <%= link_to 'Contact us', new_user_feedback_path, target: "_blank" %>
            <%= link_to 'Privacy policy', '/privacy_page', target: "_blank"%>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 mobile_center">
            <span>Top categories</span>
            <div class="col-md-6 col-sm-6 col-xs-12 top_categoris">
              <% unless @all_categories.blank? %>
                <% @all_categories.each_with_index do |category,index| %>
                  <% if index < 12 %>
                    <%= link_to category.display_name(I18n.locale), public_and_not_logged_in  ? search_path(category: category) : sign_up_path %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 top_categoris">
              <% unless @all_categories.blank? %>
                <% @all_categories.each_with_index do |category,index| %>
                  <% if index >= 12 && index <= 23%>
                    <%= link_to category.display_name(I18n.locale), public_and_not_logged_in  ? search_path(category: category) : sign_up_path %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <h1 class="copyright">14747 N. Northsight Blvd Scottsdale, AZ 85260 <br>415.944.9067</h1>
        <span class="color_15">©2018 by Avontage, LLC</span>
      </div>
    </div>
  </div>
<% else %>
  <div class="main_head_coverphoto col-md-12 col-sm-12 col-xs-12 no_padding_default">
    <div class="cover_photo" style='background: url("<%= @current_community.cover_photo.present? ? @current_community.cover_photo.url(:original) : asset_url('main_cover.png')%>");'>
      <h1 class="main_cover_title">
        <%= community_slogan.html_safe %>
      </h1>
      <%= link_to sign_up_path do %>
        <%= button_tag 'JOIN OUR COMMUNITY',class: 'community_tab' %>
      <% end %>
      <p class="under_main_title">
        <%= community_description.html_safe %>
      </p>
    </div>
    <div class="main_wrapper">
      <div class="sub_wrapper">
        <h3 class="under_cover_photo_title">
          Discover local businesses near you
          <!-- A local community of Arizona small business owners and freelancers selling special Offers online<br/> without the high fees. <br/>Collaborate to gain high quality clients, repeat customers, save money, and KEEP IT LOCAL. -->  
        </h3>
        <div class="col-md-12 col-sm-12 col-xs-12 categories no_padding_default">
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? "/s?category=advertising-and-marketing" : sign_up_path do %>
              <div class="listing_frame">
                <div class="image_frame">
                  <%= image_tag 'marketing_advertising_new.png', class: '' %>
                </div>
                <div class="listing_details">
                  <div class="category_heading">Marketing & Advertising</div>
                  <%= link_to public_and_not_logged_in  ? "/s?category=advertising-and-marketing" : sign_up_path do %>
                    <%= button_tag 'Explore Now',class:'explore_button' %>
                  <% end %>
                  <div class="description">On Avontage, local businesses connect with marketers, advertiser, & influencers</div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? "/s?category=beauty-and-spas" : sign_up_path do %>
              <div class="listing_frame">
                <div class="image_frame">
                  <%= image_tag 'BeautySpas_new.png', class: '' %>
                </div>
                <div class="listing_details">
                  <div class="category_heading">Beauty & <br>Spas</div>
                  <%= link_to public_and_not_logged_in  ? "/s?category=beauty-and-spas" : sign_up_path do %>
                    <%= button_tag 'Explore Now',class:'explore_button' %>
                  <% end %>
                  <div class="description">Promote your services, find high quality clients, and book your slow time slots
                  </div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in  ? "/s?category=healthcare-and-wellness" : sign_up_path do %>
              <div class="listing_frame">
                <div class="image_frame">
                  <%= image_tag 'Health_Fitness_new.png', class: '' %>
                </div>
                <div class="listing_details">
                  <div class="category_heading">Health & <br>Fitness</div>
                  <%= link_to public_and_not_logged_in  ? "/s?category=healthcare-and-wellness" : sign_up_path do %>
                    <%= button_tag 'Explore Now',class:'explore_button' %>
                  <% end %>
                  <div class="description">Find quality clients and fill your slow times without any extra marketing cost</div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in ? "s?category=photography-and-video" : sign_up_path do %>
              <div class="listing_frame">
                <div class="image_frame">
                  <%= image_tag 'Photography_Video_new.png', class: '' %>
                </div>
                <div class="listing_details">
                  <div class="category_heading">Photography &<br>Video</div>
                  <%= link_to public_and_not_logged_in ? "s?category=photography-and-video" : sign_up_path do %>
                    <%= button_tag 'Explore Now',class:'explore_button' %>
                  <% end %>
                  <div class="description">A platform for photographers and creatives to collaborate and grow </div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in ? "/s?category=food-and-drinks" : sign_up_path do %>
              <div class="listing_frame">
                <div class="image_frame">
                  <%= image_tag 'Food_Drinks_new.png', class: '' %>
                </div>
                <div class="listing_details">
                  <div class="category_heading">Food &<br>Drinks</div>
                  <%= link_to public_and_not_logged_in ? "/s?category=food-and-drinks" : sign_up_path do %>
                    <%= button_tag 'Explore Now',class:'explore_button' %>
                  <% end %>
                  <div class="description">Promote and market your establishment without spending any money</div>
                </div>
              </div> 
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 no_padding_default">
            <%= link_to public_and_not_logged_in ? "/s?category=things-to-do" : sign_up_path do %>
              <div class="listing_frame">
                <div class="image_frame">
                  <%= image_tag 'EventsThingsToDo_new.png', class: '' %>
                </div>
                <div class="listing_details">
                  <div class="category_heading"> Experiences & <br> Things To Do</div>
                  <%= link_to public_and_not_logged_in ? "/s?category=things-to-do" : sign_up_path do %>
                    <%= button_tag 'Explore Now',class:'explore_button' %>
                  <% end %>
                  <div class="description">Promote your events & activities and gain exposure at no cost to you</div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="under_categories col-md-12 col-sm-12 col-xs-12">
          <%= link_to 'Explore these services and more in our marketplace', public_and_not_logged_in  ? '/s' : sign_up_path ,class:'more_services'%>



          <div class="explore_services">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <%= image_tag 'homepage/new_customer.png', class: 'explore-service-icon' %>
                <h1 class="service-heading">New Customers</h1>
                <p class="service-details">Gain high-quality, like-minded clients, and repeat customers. Business owners like you are more loyal than customers looking for deep discounts.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <%= image_tag 'homepage/cash_flow.png', class: 'explore-service-icon' %>
                <h1 class="service-heading">Better Cash Flow</h1>
                <p class="service-details">Keep cash in your business by reducing where you spend it. Use your slow times, empty seats, and unbooked hours to pay for things you need.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <%= image_tag 'homepage/local_community.png', class: 'explore-service-icon' %>
                <h1 class="service-heading">Local Community</h1>
                <p class="service-details">Become part of a growing network of local businesess to build the next sharing-economy platform similar to Airbnb & Lyft.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <%= image_tag 'homepage/line_of_credit.png', class: 'explore-service-icon' %>
                <h1 class="service-heading">Line of Credit</h1>
                <p class="service-details">Get the funds you need to grow your business and pay it back from new customers gained in the Avontage community. It's the smartest way to increase your spending power without spending your cash..</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <%= image_tag 'homepage/employe_perks.png', class: 'explore-service-icon' %>
                <h1 class="service-heading">Employee Perks</h1>
                <p class="service-details">Give a gift or an incentive to your employees without spending your cash. Our employee incentive program allows you to offer bonuses and higher salaries in trade dollars.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="explore-service-box">
                <%= image_tag 'homepage/charities.png', class: 'explore-service-icon' %>
                <h1 class="service-heading">Charities</h1>
                <p class="service-details">Donate your extra trade-dollars to your favorite non-profits and receive tax benefits. Non-profits join Avontage to gain access to services in our marketplace.</p>
              </div>
            </div>
          </div>

          <div class="discover-community">
            <h4 class="discover-heading">Discover Our Community...</h4>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="left-side">
                <p class="discover-details">Avontage is more than just a marketplace, it's a vibrant community powered by local business owners, freelancers, entrepreneurs, creatives, digital marketers, influencers, and bloggers who collaborate, build long-lasting connections, and help one another to grow their businesses.</p>
                <p class="discover-details top-p">Join us to see who's here!</p>
                <div class="movement_btn">
                  <%= link_to 'Join Our Movement Today', sign_up_path, class: 'button'%>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="right-side">
                <%= image_tag 'business_group_new.jpg', class: 'comminity-pic' %>
              </div>
            </div>
          </div>

          <div class="quotes-section">
            <div class="members_wrapper ipad">
              <h1 class="our-members">Our members believe in us ...</h1>
              <div class="member-section custom_container">
                <%=link_to "https://www.avontage.com/en/eic_agency" do%>
                  <div class="member-box">
                    <div class="inner-box">
                      <div class="testimonial-headshot text-center">
                        <%# jessica = Person.find_by(username: "jessica")%>
                        <%# avatar = jessica.present? && jessica.image.present? ? jessica.image.url(:medium) : missing_avatar(:thumb) %>
                        <%#= image_tag avatar%>
                        <%= image_tag "ScreenShot2019-09-17at7.11.09PM.png" %>
                      </div>
                      <div class="member-detail text-center">
                        <p class="name">Dustin T.</p>
                        <p class="work">EIC Agency</p>
                        <p class="type">Phoenix, AZ</p>
                        <div class="star_container">
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                        </div>
                      </div>
                      <p class="card-detail">Avontage is the future of how small business should operate in the present. In the beginning, most businesses have more time than cash. They’ve created a platform where excess time can be exchanged, keeping overhead down while growing together as a community. I highly recommend giving them a try, it’s free.......better than Groupon. Make Avontage your next search!</p>
                    </div>
                  </div>
                <%end%>
                
                <%=link_to 'https://www.avontage.com/en/roundbrushsalon' do%>  
                  <div class="member-box">
                    <div class="inner-box">
                      <div class="testimonial-headshot text-center">
                        <%# jessedeanclark = Person.find_by(username: "jessedeanclark")%>
                        <%# avatar = jessedeanclark.present? && jessedeanclark.image.present? ? jessedeanclark.image.url(:medium) : missing_avatar(:thumb) %>
                        <%#= image_tag avatar%>
                        <%= image_tag "ScreenShot2019-08-31at10.42.39PM.png" %>
                      </div>                    
                      <div class="member-detail text-center">
                        <p class="name">Rebecca L.</p>
                        <p class="work">Round Brush Salon</p>
                        <p class="type">Chandler, AZ</p>
                        <div class="star_container">
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                        </div>
                      </div>
                      <p class="card-detail">Love this place and getting all the beauty things done! <span class="right_icon">✅</span></p>
                    </div>
                  </div>
                <%end%>
                
                <%= link_to 'https://www.avontage.com/en/cliffords' do%>  
                  <div class="member-box">
                    <div class="inner-box">
                      <div class="testimonial-headshot text-center">
                        <%# thegannonedit = Person.find_by(username: "thegannonedit")%>
                        <%# avatar = thegannonedit.present? && thegannonedit.image.present? ? thegannonedit.image.url(:medium) : missing_avatar(:thumb) %>
                        <%#= image_tag avatar%>
                        <%= image_tag "ScreenShot2019-08-31at10.33.12PM.png" %>
                      </div>
                      <div class=" member-detail text-center">
                        <p class="name">Clifford S.</p>
                        <p class="work">Starks Coaching</p>
                        <p class="type">Scottsdale, AZ</p>
                        <div class="star_container">
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                          <%= image_tag "star.png" %>
                        </div>
                      </div>
                      <p class="card-detail">I am extremely impressed with avontage and what they have to offer. It is a space where entrepreneurs can get together to help one another expand on their business. I even had the opportunity to meet the owner, and I love his authenticity. Avontage is already amazing, but he is constantly looking to improve the platform for those who are on it. Make sure to check it out, you will be glad that you did!</p>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>

            <div class="How-it-Works-wrapper">
              <h1 class="heading-work">How It Works</h1>
              <div class="inner-work">
                <div class="col-sm-7 col-md-7 col-xs-12">
                  <div class="left-side-text">
                     <h1 class="heading-left">Post Your Offers to Sell or Trade</h1>
                     <p class="left-text">Craft and post your offers to book your slow times, empty seats, unbooked hours, and excess capacities. Post as many offers as you'd like, change them any time, set your own limit on the number of trades you accept per month. Earn trade credits (Avontage Bucks). Your offers will also be promoted to the members of the public to purchase using a credit card.</p>

                     <h1 class="heading-left heading-left2">Find Offers from Other Members</h1>
                     <p class="left-text">Once you have earned enough trade credits (Avontage Bucks), explore offers from other local businesses in every service category such as marketing & advertising, healthcare, fitness, beauty, photography, legal, accounting, repairs, web development, restaurants, events, entertainment, and more! Use your trade credits to buy any offer to fulfill your personal or business needs.</p>

                     <h1 class="heading-left heading-left3">Become a Part of the Avontage Community</h1>
                     <p class="left-text">Join a growing local network of business owners, freelancers, entrepreneurs, creatives, digital marketers, influencers, and bloggers to connect, collaborate, and grow your business. Participate in Meet up groups to learn new skills, meetlike-minded friends who understand the challenges of running your business and can help you.</p>

                     <div>
                        <%= link_to new_listing_path do %>
                          <button class="get-started">GET STARTED</button>
                        <% end %>
                     </div>
                  </div>
                </div>
                <div class="col-sm-5 col-md-5 col-xs-12">
                  <div class="right-side-img">
                    <%= image_tag 'homepage/iPhoneHand.png', class: 'iphone-hand' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="main_wrapper_second">
      <div class="col-md-12 col-sm-12 col-xs-12 no_padding_default main_frame_business">
        <h2 class="heading_market">The Advantages of Avontage</h2>
        <!-- <p class="below_heading_market">work & live like an owner!</p> -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="listing_frame">
            <div class="listing_image">
              <%= image_tag 'EarnQualityLocalCustomers.png' ,class: 'earn_quality' %>
            </div>
            <div class="listing_description">
              <h2>Gain Local Customers</h2>
              <p>Build loyalty and long-term relationships with like-minded business owners in your community</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="listing_frame">
            <div class="listing_image">
              <%= image_tag 'SaveYourCash.png' ,class: 'earn_quality' %>
            </div>
            <div class="listing_description">
              <h2>Save Your Cash </h2>
              <p>Use your trade dollars to buy any of the amazing offerings in our marketplace, from spa packages to SEO services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="listing_frame">
            <div class="listing_image">
              <%= image_tag 'GrowYourBusiness.png' ,class: 'earn_quality' %>
            </div>
            <div class="listing_description">
              <h2>Grow Your Network</h2>
              <p>Connect with like-minded local business owners to find help with growing your business, offer your skills to help others,and become each other’s customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="main_wrapper">
      <div class="sub_wrapper">
        <div class="col-md-7 col-sm-12 col-xs-12 no_padding_default">
          <div class="business_group">
            <%#= image_tag 'business_group.png',class: 'business_image' %>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 no_padding_default">
          <div class="business_details">
            <h2>A MUST HAVE APP</h2>
            <p>We are creating a magical experience to connect local business owners, entrepreneurs, freelancers, influencers, makers, and doers to help grow your business</p>
            <%#= link_to about_infos_path,class: 'anchor_web' do %>
              <%#=  button_tag 'Read More',class:'read_more_tab'%>
            <%# end %>
          </div>
        </div>
      </div>
    </div> -->
    <div class="footer_bottom">
      <div class="footer_wrapper">
        <ul class="social_icons_list">
          <li><%= link_to 'https://www.instagram.com/avontage/',target:"_blank" do %><i class="fa fa-instagram social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://www.facebook.com/avontage/',target:"_blank" do %><i class="fa fa-facebook social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://www.linkedin.com/company/avontage/',target:"_blank" do %><i class="fa fa-linkedin social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://twitter.com/avontagebiz',target:"_blank" do %><i class="fa fa-twitter social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://www.pinterest.com/avontage/avontage/',target:"_blank" do %><i class="fa fa-pinterest-p social_icons" aria-hidden="true"></i><% end %></li>
          <li><%= link_to 'https://avontage.tumblr.com/',target:"_blank" do %><i class="fa fa-tumblr social_icons" aria-hidden="true"></i><% end %></li>
        </ul>
        <div class="footer_list col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-2 col-sm-2 col-xs-12 no_padding_default extra_div"></div>
          <div class="col-md-2 col-sm-2 col-xs-12 mobile_center">
            <span>Get started</span>
            <%= link_to 'Create an account', sign_up_path %>
            <%= link_to 'Post your Offers', new_listing_path %>
            <%= link_to 'How-it-Works', how_to_use_infos_path %>
            <%= link_to 'Terms of service', '/terms_and_conditions_page' %>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 extra_div mobile_center">
            <span>Learn more</span>
            <%= link_to 'Benefits', about_infos_path,target:"_blank" %>
            <%= link_to 'FAQ', how_to_use_infos_path, target:"_blank" %>
            <%= link_to 'About Us', about_infos_path %>
            <%= link_to 'Blog', '/blog' %>
            <%= link_to 'Contact us', new_user_feedback_path, target: "_blank" %>
            <%= link_to 'Privacy policy', '/privacy_page', target: "_blank"%>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12 mobile_center">
            <span>Top categories</span>
            <div class="col-md-6 col-sm-6 col-xs-12 top_categoris">
              <% unless @all_categories.blank? %>
                <% @all_categories.each_with_index do |category,index| %>
                  <% if index < 12 %>
                    <%= link_to category.display_name(I18n.locale), public_and_not_logged_in  ? search_path(category: category) : sign_up_path %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 top_categoris">
              <% unless @all_categories.blank? %>
                <% @all_categories.each_with_index do |category,index| %>
                  <% if index >= 12 && index <= 23%>
                    <%= link_to category.display_name(I18n.locale), public_and_not_logged_in  ? search_path(category: category) : sign_up_path %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <h1 class="copyright">14747 N. Northsight Blvd Scottsdale, AZ 85260 <br>415.944.9067</h1>
        <span class="color_15">©2018 by Avontage, LLC</span>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $('.home-categories-main').click(function(e){
      var x = $(this).attr("data-url");
      $(this).attr('href', x);
      $('#search_val').val("");
    });
  </script>
<%end%>
