- content_for :extra_javascript do
  :javascript
    $("#start_date").datepicker()
    $("#end_date").datepicker()

    $("#export-as-csv").on('click', function(){
      start_date = $("#start_date").val()
      end_date = $("#end_date").val()
      status = $("#status").val()
      $.ajax({
        type: "get",
        url: "/admin/communities/#{@current_community.id}/transactions/export",
        data: { 'start_date': start_date, 'end_date': end_date, 'status': status },
        success: function () {}
      })
    })

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.transactions.transactions")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.transactions.transactions", community_name: community.name(I18n.locale))


  = form_tag admin_community_transactions_path(@current_community), :method => :get do
    .row
      .col-3
        = text_field_tag :start_date, params[:start_date], placeholder: 'From date'
      .col-3
        = text_field_tag :end_date, params[:end_date], placeholder: 'To date'
      .col-4
        = select_tag :status, options_for_select(@statuses, selected: params[:status]), prompt: 'select status'
      .col-2
        = submit_tag 'Submit', class: 'ver-update-btn acc-change-btn button report_submit'
  - unless @current_user.is_manager?
    #export-as-csv.right
      = link_to(" " + t("admin.communities.transactions.export_all_as_csv"), 'javascript:void(0);', {class: icon_class("download")})

  %span#admin_transactions_count= page_entries_info(transactions, :model => "Transaction").html_safe

  %table#admin_transactions
    %thead
      %tr
        %th= render partial: "layouts/sort_link", locals: { column: "listing", direction: sort_link_direction("listing"), title: t("admin.communities.transactions.headers.listing") }
        %th=t("admin.communities.transactions.headers.status")
        %th=t("admin.communities.transactions.headers.sum")
        %th= render partial: "layouts/sort_link", locals: { column: "started", direction: sort_link_direction("started"), title: t("admin.communities.transactions.headers.started") }
        %th= render partial: "layouts/sort_link", locals: { column: "last_activity", direction: sort_link_direction("last_activity"), title: t("admin.communities.transactions.headers.last_activity") }
        %th=t("admin.communities.transactions.headers.initiated_by")
        %th=t("admin.communities.transactions.headers.other_party")

    %tbody
      - transactions.each do |transaction|
        %tr
          - unless transaction.listing.blank?
            - listing_title = transaction.listing_title || t("admin.communities.transactions.not_available")
            %td=Maybe(transaction.listing).map { |listing| link_to_unless(listing.deleted, listing_title, listing_path(transaction.listing_id)) }.or_else(listing_title)
            %td
              = link_to person_transaction_path(person_id: @current_user.id, id: transaction.id) do
                = t("admin.communities.transactions.status.#{transaction.payment_gateway}.#{transaction.status}")
              
            %td=transaction.payment_total ? MoneyViewUtils.to_humanized(transaction.payment_total) : ""
            %td=l(transaction.created_at, format: :short_date)
            %td=l(transaction.last_activity, format: :short_date)
            %td=Maybe(transaction.starter).map { |p| link_to_unless(p.deleted, PersonViewUtils.person_display_name(p, @current_community),person_path(p.username)) }.or_else("")
            %td=Maybe(transaction.author).map { |p| link_to_unless(p.deleted, PersonViewUtils.person_display_name(p, @current_community), person_path(p.username)) }.or_else("")
  .row
    .col-12
      = will_paginate transactions
