- if Rails.env == "development"
  - host = 'http://lvh.me:3000'
- elsif Rails.env == "staging"
  - host = 'http://staging.avontage.com'
- else
  - host = 'https://www.avontage.com'


%tr
  %td{:align => "left"}
    %font{body_font}
      - if gateway == :stripe
        - if auto_complete_transaction
          = t("emails.receipt_to_payer.you_have_made_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :recipient_full_name => recipient_given_name, :service_name => community_name).html_safe
        - else
          = t("emails.receipt_to_payer.stripe.you_have_made_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :recipient_full_name => recipient_given_name, :service_name => community_name).html_safe

      - elsif gateway == :coupon_pay
        = t("emails.receipt_to_payer.you_have_made_new_coupon_payment", listing_title: listing_title, payment_sum: payment_total.split('$')[1], recipient_full_name: recipient_given_name, currency: image_tag("#{host}/assets/black_a_img.png", style: "height: 15px; position: relative; top: 1px;")).html_safe
      - else
        = t("emails.receipt_to_payer.you_have_made_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :recipient_full_name => recipient_given_name).html_safe

%tr
  %td{:align => "left", :style => "padding: 10px 0;"}
    %table{:cellpadding => 5, :cellspacing => 0}
      %tbody
        %tr
          %td{:width => "200"}
            %b= t("emails.receipt_to_payer.product")
          %td
            %b= listing_title
        - if duration.present? || listing_quantity > 1
          %tr
            %td{:width => "250"}
              = price_per_unit_title
            %td
              = listing_price
        - if duration.present?
          %tr
            %td{:width => "250"}
              = t("emails.receipt_to_payer.duration")
            %td
              = duration
        - elsif listing_quantity > 1
          %tr
            %td{:width => "250"}
              = quantity_selector_label || t("emails.receipt_to_payer.quantity")
            %td
              = listing_quantity
        %tr
          %td{:width => "250"}
            = t("emails.receipt_to_payer.subtotal") #listing_title
          %td
            - if gateway == :coupon_pay
              = image_tag "#{host}/assets/black_a_img.png" , style: "height: 15px; position: relative; top: 1px;"
              %b= subtotal.split('$')[1]
            - else
              %b= subtotal  

        - if avon_commission.present? && gateway.to_s == "coupon_pay"
          %tr
            %td{:width => "250"}
              = t("emails.receipt_to_payer.avon_commission_from_buyer", :percentage_commission => commission_percentage)
            %td
              = "+#{avon_commission}"            

        - if shipping_total.present?
          %tr
            %td
              = t("emails.paypal_new_payment.shipping_total")
            %td= shipping_total

        - if promo_code_discount.present? && promo_code_discount.to_f > 0
          %tr
            %td
              ="Rebate Code: #{promo_code}"
            %td
              = '-'
              = image_tag "#{host}/assets/black_a_img.png" , style: "height: 15px; position: relative; top: 1px;"
              = MoneyViewUtils.to_humanized(promo_code_discount).split('$')[1]

        %tr{:style => "border-top: 1px solid black"}
          %td
            %b=t("emails.receipt_to_payer.total")
          %td
            - if gateway == :coupon_pay
              = image_tag "#{host}/assets/black_a_img.png" , style: "height: 15px; position: relative; top: 1px;"
              %b= payment_total.split('$')[1]
            - else
              %b= payment_total
                     
- if show_money_will_be_transferred_note
  %tr
    %td{:align => "left"}
      %font{body_font}
        = t("emails.receipt_to_payer.money_will_be_transferred", recipient_name: recipient_full_name, automatic_confirmation_days: automatic_confirmation_days)


= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
