- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Profile Setup progress', redirect_link: progress_bar_redirect_link('Enable purchasing')}
- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")
= render :partial => "layouts/left_hand_navigation", :locals => { :links => left_hand_navigation_links }

.left-navi-section.settings-section.payment-settings
  %h2= t("payment_settings.stripe_customer.title")
  .row
    .col-8
      = render 'payment_settings/stripe_card_form', stripe_publishable_key: stripe_publishable_key                 
