- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Profile Setup progress', redirect_link: progress_bar_redirect_link('Enable purchasing')}
- content_for :title_header do
  %h1= t("layouts.no_tribe.enable_puchasing")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => left_hand_navigation_links }

.left-navi-section.settings-section.payment-settings
  %h2= t("payment_settings.stripe_customer.payment_information")
  .panel.panel-primary
    .panel-body
      - if card_info.present?
        Payments will be charged to your credit card ending in
        = card_info[0]
        = link_to "Edit", person_edit_stripe_customber_settings_path(@target_user)
      - else        
        = render 'payment_settings/stripe_card_form', stripe_publishable_key: stripe_publishable_key
  - if card_info.present?
    %h2= t("payment_settings.stripe_customer.avontage_fee_structure")

    = t("payment_settings.stripe_customer.content1")
    %br
    %br
      = t("payment_settings.stripe_customer.content2",commission_from_seller: @stripe_service[:commission_from_seller])
    %br
      =t("payment_settings.stripe_customer.content3",commission_from_seller: @stripe_service[:commission_from_seller]) 


