.people-fluid-thumbnail-grid-container
  .people-fluid-thumbnail-grid#profile-listings-list
    - listings.each do |listing|
      .people-fluid-thumbnail-grid-item.custom_padding
        %div
          = render :partial => "listings/grid_listing_image", :locals => {:listing => listing, :modifier_class => "people-listings"}

        .home-fluid-thumbnail-grid-author.custom_grid_author
          .fluid-thumbnail-grid-image-title.custom_title.custom_parent
            = listing.title if listing.title.present?
          .fluid-thumbnail-grid-image-price-container.modify_price.custom_price
            - if listing.price
              %span.fluid-thumbnail-grid-image-price.custom_price
                = MoneyViewUtils.to_humanized(listing.price)
                - price_unit = price_quantity_slash_unit(listing)
              - if !price_unit.blank?
                - price_text = " " + price_unit
                %span.fluid-thumbnail-grid-image-quantity{:title => price_text}
                  = price_text
            - else
              %span.fluid-thumbnail-grid-image-type
                = shape_name(listing)
