- content_for :extra_javascript do
  :javascript
    $("#connect-to-facebook").click(function(){
      feedback_id = $("#feedback_id").val()
      FB.getLoginStatus(function(response){
        if (response.status === "connected") {
          var url= "#{person_url(@person)}" + "?fb_share=true&feed_id=" + feedback_id;
          $.ajax({
            type: 'POST',
            url: 'https://graph.facebook.com?id='+url+'&scrape=true'
          });
          FB.ui({
            display: 'popup',
            method: 'share',
            href: "#{person_url(@person)}" + "?feed_id=" + feedback_id
          });
        } else if (response.status === "not_authorized"){
          FB.login();
        } else {
          FB.login();
        }
      });
    });

%input{type: "hidden", value: "", id: "feedback_id"}
.profile-testimonials-list.customize_profile_testimonial
  = render :partial => "people/testimonial", :collection => received_testimonials.take(limit)
.row.load-more-link
  - if received_testimonials.size > limit
    #load-more-testimonials.load-more-testimonials
      = link_to t("people.show.show_all_reviews"), "#"


.add_product_modal
  .modal_box
    .modal_heading
      .close X
    .modal_body
      = render partial: "testimonial_share_partial", locals: {person: @person}

- content_for :extra_javascript do
  :javascript
    $('.share-review-icon').click(function() {
      $("#share_on_mail").attr('href', "mailto:?body="+$(this).data('image'))
      $('.add_product_modal').addClass('show_modal');
      feedback_id = $(this).data("testimonialId")
      $("#feedback_id").val(feedback_id)
    });

    $('.close').click(function(){
      $('.add_product_modal').removeClass('show_modal');
    });

    $('#connect-to-twitter').click(function(){
      feedback_id = $("#feedback_id").val();
      var url = "#{person_url(@person)}" + "%3Ffeed_id%3D" + feedback_id;
      $.ajax({
        type: 'GET',
        url: "#{person_path(@person)}",
        data: {feed_id: feedback_id}
      });

      return popitup("https://twitter.com/share?url="+ url)
    })

    $('#connect-linkedin-share').click(function(){
      feedback_id = $("#feedback_id").val();
      var url = "#{person_url(@person)}" + "%3Ffeed_id%3D" + feedback_id;
      return popitup("https://www.linkedin.com/sharing/share-offsite/?url="+ url)
    })

    function popitup(url) {
      var left = (screen.width/2)-(325);
      newwindow=window.open(url,'name','height=600,width=650,left='+left);
      if (window.focus) {newwindow.focus()}
      return false;
    }