- content_for :extra_javascript do
  :javascript
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 784772042393270,
        xfbml      : true,
        version    : 'v2.4'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $("#connect-to-facebook").click(function(){
      feedback_id = $("#feedback_id").val()
      debugger
      FB.getLoginStatus(function(response){
        if (response.status === "connected") {
          FB.ui({
            method: 'share',
            href: "#{person_url(@person)}" + "?fb_share=true&feed_id=" + feedback_id
          });
        } else if (response.status === "not_authorized"){
          FB.login();
        } else {
          FB.login();
        }
      });
    });

%input{type: "hidden", value: "", id: "feedback_id"}
.profile-testimonials-list.customize_profile_testimonial
  = render :partial => "people/testimonial", :collection => received_testimonials.take(limit)
.row.load-more-link
  - if received_testimonials.size > limit
    #load-more-testimonials.load-more-testimonials
      = link_to t("people.show.show_all_reviews"), "#"


.add_product_modal
  .modal_box
    .modal_heading
      .close X
    .modal_body
      = render partial: "testimonial_share_partial", locals: {person: @person}


-linked_url = "https://www.linkedin.com/oauth/v2/authorization?response_type=code&scope=w_member_social,r_liteprofile&client_id=#{APP_CONFIG.linkedin_client_key}&client_secret=#{APP_CONFIG.linkedin_client_secret}&redirect_uri=#{APP_CONFIG.linkedin_redirect_uri}&state=testimonial_"

- content_for :extra_javascript do
  :javascript
    $('.share-review-icon').click(function() {
      $("#connect-to-twitter").attr('onClick', "twitterShare("+$(this).data('testimonial-id')+")");
      $("#share_on_linkedin").attr('onClick', "linkedinShare("+$(this).data('testimonial-id')+")");
      $("#share_on_mail").attr('href', "mailto:?body="+$(this).data('image'))
      $('.add_product_modal').addClass('show_modal');
      feedback_id = $(this).data("testimonialId")
      $("#feedback_id").val(feedback_id)
    });

    $('.close').click(function(){
      $('.add_product_modal').removeClass('show_modal');
    });

    function twitterShare(testimonial_id) {
      $.oauthpopup({path: '/people/auth/twitter?testimonial_id='+testimonial_id,
        callback: function(data){
        }
      });
    }

    function linkedinShare(testimonial_id) {
      $.oauthpopup({path: "#{linked_url}"+testimonial_id,
        callback: function(data){
        }
      });
    }




