.sharing_modal_inner
  %h2.congrats Congrats! Share this with friends!

  .sharing_link_box
    .sharing_link
      .link_text
        = person_url(person)
      .right_content
        = link_to '', class: 'link_img_box' do
          = image_tag 'notes.svg', alt: 'notes', class: 'sharing_img'
        = link_to '', class: 'link_img_box' do
          = image_tag 'right-arrow.svg', alt: 'arrow', class: 'sharing_img'

  .share_testimonial_text Share your reviews on your social media feeds and via email and let the world know about your amazing work.

  .share_testimonial_social_links
    = link_to("javascript:;", class: 'social_link', id: 'connect-to-facebook') do
      = image_tag 'facebook.svg', class: "review_share_fb"
    %a.social_link{:href => "javascript:void(0);", id: 'connect-to-twitter', onClick: ""}
      = image_tag 'twitter-sign.svg', class: "review_share_tw"
    %a.social_link{href: "javascript:;", id: 'connect-linkedin-share'}
      = image_tag 'linkedin.svg', class: "review_share_li"
    = link_to("#", class: 'social_link mail_link', id: 'share_on_mail') do
      = image_tag 'email.svg'

