= link_to("javascript:;", class: 'fb_share') do
	= image_tag 'facebook-logo1.png'
	%span Share on Facebook
%a.twitter_share{:href => "https://twitter.com/share?url=https://#{request.host_with_port}/en/#{@current_user.username}", target: '_blank'}
	= image_tag 'twitter-logo-silhouette.png'
	%span Share on Twitter
%a.twitter_share{href: "https://www.linkedin.com/shareArticle?mini=true&url=https://#{request.host_with_port}/en/#{@current_user.username}", onclick: "window.open(this.href,  'mywin', 'left=20, top=20, width=500, height=500, toolbar=1, resizable=0'); return false;"}
	= image_tag 'linkedin-letters.png'
	%span Share on linkedIn

- content_for :extra_javascript do
	:javascript
		$('.fb_share').click(function(){
			var url = "https://#{request.host_with_port}/en/#{@current_user.username}";
			return popitup("https://www.facebook.com/sharer/sharer.php?u="+ url)
		})
		function popitup(url) {
			newwindow=window.open(url,'name','height=600,width=650');
			if (window.focus) {newwindow.focus()}
			return false;
		}