:javascript
  (function() {
    ST.analytics.init({
      analyticsData: #{analytics_data.to_json.html_safe},
      events: #{flash[:_analytics_events].to_json.html_safe},
      logout: #{flash[:_analytics_logout].to_json.html_safe}
    });
  })();

  community_check = "#{@current_community.require_verification_to_send_direct_message?}"
  user_check = "#{(@current_user.present? && @current_community_membership.present? && !@current_community_membership.can_send_dms?) || !@current_user.present?}"
  if (community_check == 'true'){
    if (user_check == 'true'){
      purechatApi.on('chatbox:ready', function () {
        purechatApi.set('chatbox.unavailableBehavior', 'hide');
      });
    }
  }
