- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.homepage.landing_page_settings")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
.left-navi-section
  / %h2= t("admin.communities.homepage.landing_page_settings", :community_name => @community.name(I18n.locale))
  = form_for @homepage, url: admin_homepage_settings_path,method: :patch do |form|
    %h2.crf-acc-trigger
      = t("admin.communities.homepage.section_1")
    .crf-accrodian-content
      .lb-mt-mb-15
        = form.label :local_business_sec_heading, t("admin.communities.homepage.heading")
        = form.text_field :local_business_sec_heading
      %h3= t("admin.communities.homepage.column_1")
      .lb-mt-mb-15
        = form.label :local_business_sec_col1_heading, t("admin.communities.homepage.title")
        = form.text_field :local_business_sec_col1_heading  
      .lb-mt-mb-15
        = form.label :local_business_sec_col1_image, t("admin.communities.homepage.image")
        = form.file_field :local_business_sec_col1_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :local_business_sec_col1_explore_btn_text,t("admin.communities.homepage.button_title")
          = form.text_field :local_business_sec_col1_explore_btn_text
        .col-6
          = form.label :local_business_sec_col1_explore_btn_link,t("admin.communities.homepage.button_link")
          = form.text_field :local_business_sec_col1_explore_btn_link
      .lb-mt-mb-15
        = form.label :local_business_sec_col1_explore_btn_content,t("admin.communities.homepage.content")
        = form.text_area :local_business_sec_col1_explore_btn_content
      %h3= t("admin.communities.homepage.column_2")
      .lb-mt-mb-15
        = form.label :local_business_sec_col2_heading, t("admin.communities.homepage.title")
        = form.text_field :local_business_sec_col2_heading  
      .lb-mt-mb-15
        = form.label :local_business_sec_col2_image, t("admin.communities.homepage.image")
        = form.file_field :local_business_sec_col2_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :local_business_sec_col2_explore_btn_text,t("admin.communities.homepage.button_title")
          = form.text_field :local_business_sec_col2_explore_btn_text
        .col-6
          = form.label :local_business_sec_col2_explore_btn_link,t("admin.communities.homepage.button_link")
          = form.text_field :local_business_sec_col2_explore_btn_link
      .lb-mt-mb-15
        = form.label :local_business_sec_col2_explore_btn_content,t("admin.communities.homepage.content")
        = form.text_area :local_business_sec_col2_explore_btn_content
      %h3= t("admin.communities.homepage.column_3")
      .lb-mt-mb-15
        = form.label :local_business_sec_col3_heading, t("admin.communities.homepage.title")
        = form.text_field :local_business_sec_col3_heading  
      .lb-mt-mb-15
        = form.label :local_business_sec_col3_image, t("admin.communities.homepage.image")
        = form.file_field :local_business_sec_col3_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :local_business_sec_col3_explore_btn_text,t("admin.communities.homepage.button_title")
          = form.text_field :local_business_sec_col3_explore_btn_text
        .col-6
          = form.label :local_business_sec_col3_explore_btn_link,t("admin.communities.homepage.button_link")
          = form.text_field :local_business_sec_col3_explore_btn_link
      .lb-mt-mb-15
        = form.label :local_business_sec_col3_explore_btn_content,t("admin.communities.homepage.content")
        = form.text_area :local_business_sec_col3_explore_btn_content
      %h3= t("admin.communities.homepage.column_4")
      .lb-mt-mb-15
        = form.label :local_business_sec_col4_heading, t("admin.communities.homepage.title")
        = form.text_field :local_business_sec_col4_heading  
      .lb-mt-mb-15
        = form.label :local_business_sec_col4_image, t("admin.communities.homepage.image")
        = form.file_field :local_business_sec_col4_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :local_business_sec_col4_explore_btn_text,t("admin.communities.homepage.button_title")
          = form.text_field :local_business_sec_col4_explore_btn_text
        .col-6
          = form.label :local_business_sec_col4_explore_btn_link,t("admin.communities.homepage.button_link")
          = form.text_field :local_business_sec_col4_explore_btn_link
      .lb-mt-mb-15
        = form.label :local_business_sec_col4_explore_btn_content,t("admin.communities.homepage.content")
        = form.text_area :local_business_sec_col4_explore_btn_content
      %h3= t("admin.communities.homepage.column_5")
      .lb-mt-mb-15
        = form.label :local_business_sec_col5_heading, t("admin.communities.homepage.title")
        = form.text_field :local_business_sec_col5_heading  
      .lb-mt-mb-15
        = form.label :local_business_sec_col5_image, t("admin.communities.homepage.image")
        = form.file_field :local_business_sec_col5_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :local_business_sec_col5_explore_btn_text,t("admin.communities.homepage.button_title")
          = form.text_field :local_business_sec_col5_explore_btn_text
        .col-6
          = form.label :local_business_sec_col5_explore_btn_link,t("admin.communities.homepage.button_link")
          = form.text_field :local_business_sec_col5_explore_btn_link
      .lb-mt-mb-15
        = form.label :local_business_sec_col5_explore_btn_content,t("admin.communities.homepage.content")
        = form.text_area :local_business_sec_col5_explore_btn_content
      %h3= t("admin.communities.homepage.column_6")
      .lb-mt-mb-15
        = form.label :local_business_sec_col6_heading, t("admin.communities.homepage.title")
        = form.text_field :local_business_sec_col6_heading  
      .lb-mt-mb-15
        = form.label :local_business_sec_col6_image, t("admin.communities.homepage.image")
        = form.file_field :local_business_sec_col6_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :local_business_sec_col6_explore_btn_text,t("admin.communities.homepage.button_title")
          = form.text_field :local_business_sec_col6_explore_btn_text
        .col-6
          = form.label :local_business_sec_col6_explore_btn_link,t("admin.communities.homepage.button_link")
          = form.text_field :local_business_sec_col6_explore_btn_link
      .lb-mt-mb-15
        = form.label :local_business_sec_col6_explore_btn_content,t("admin.communities.homepage.content")
        = form.text_area :local_business_sec_col6_explore_btn_content




    %h2.crf-acc-trigger
      = t("admin.communities.homepage.section_2")
    .crf-accrodian-content
      .row.lb-mt-mb-15
        .col-6
          = form.label :explore_service_heading_title, t("admin.communities.homepage.heading")
          = form.text_field :explore_service_heading_title
        .col-6
          = form.label :explore_service_heading_link, t("admin.communities.homepage.heading_link")
          = form.text_field :explore_service_heading_link
      %h3= t("admin.communities.homepage.column_1")
      .lb-mt-mb-15
        = form.label :explore_service_col1_heading, t("admin.communities.homepage.title")
        = form.text_field :explore_service_col1_heading  
      .lb-mt-mb-15
        = form.label :explore_service_col1_icon, t("admin.communities.homepage.image")
        = form.file_field :explore_service_col1_icon
      .lb-mt-mb-15
        = form.label :explore_service_col1_content, t("admin.communities.homepage.content")
        = form.text_area :explore_service_col1_content
      %h3= t("admin.communities.homepage.column_2")
      .lb-mt-mb-15
        = form.label :explore_service_col2_heading, t("admin.communities.homepage.title")
        = form.text_field :explore_service_col2_heading  
      .lb-mt-mb-15
        = form.label :explore_service_col2_icon, t("admin.communities.homepage.image")
        = form.file_field :explore_service_col2_icon
      .lb-mt-mb-15
        = form.label :explore_service_col2_content,t("admin.communities.homepage.content")
        = form.text_area :explore_service_col2_content
      %h3= t("admin.communities.homepage.column_3")
      .lb-mt-mb-15
        = form.label :explore_service_col3_heading, t("admin.communities.homepage.title")
        = form.text_field :explore_service_col3_heading  
      .lb-mt-mb-15
        = form.label :explore_service_col3_icon, t("admin.communities.homepage.image")
        = form.file_field :explore_service_col3_icon
      .lb-mt-mb-15
        = form.label :explore_service_col3_content, t("admin.communities.homepage.content")
        = form.text_area :explore_service_col3_content
      %h3= t("admin.communities.homepage.column_4")
      .lb-mt-mb-15
        = form.label :explore_service_col4_heading, t("admin.communities.homepage.title")
        = form.text_field :explore_service_col4_heading  
      .lb-mt-mb-15
        = form.label :explore_service_col4_icon, t("admin.communities.homepage.image")
        = form.file_field :explore_service_col4_icon
      .lb-mt-mb-15
        = form.label :explore_service_col4_content, t("admin.communities.homepage.content")
        = form.text_area :explore_service_col4_content
      %h3= t("admin.communities.homepage.column_5")
      .lb-mt-mb-15
        = form.label :explore_service_col5_heading, t("admin.communities.homepage.title")
        = form.text_field :explore_service_col5_heading  
      .lb-mt-mb-15
        = form.label :explore_service_col5_icon, t("admin.communities.homepage.image")
        = form.file_field :explore_service_col5_icon
      .lb-mt-mb-15
        = form.label :explore_service_col5_content, t("admin.communities.homepage.content")
        = form.text_area :explore_service_col5_content
      %h3= t("admin.communities.homepage.column_6")
      .lb-mt-mb-15
        = form.label :explore_service_col6_heading, t("admin.communities.homepage.title")
        = form.text_field :explore_service_col6_heading  
      .lb-mt-mb-15
        = form.label :explore_service_col6_icon, t("admin.communities.homepage.image")
        = form.file_field :explore_service_col6_icon
      .lb-mt-mb-15
        = form.label :explore_service_col6_content, t("admin.communities.homepage.content")
        = form.text_area :explore_service_col6_content
    %h2.crf-acc-trigger
      = t("admin.communities.homepage.section_3")
    .crf-accrodian-content
      .lb-mt-mb-15
        = form.label :discover_community_heading, t("admin.communities.homepage.heading")
        = form.text_field :discover_community_heading
      %h3= t("admin.communities.homepage.column_1")
      .row.lb-mt-mb-15
        .col-6
          = form.label :discover_community_button_text, t("admin.communities.homepage.button_title")
          = form.text_field :discover_community_button_text
        .col-6
          = form.label :discover_community_button_link, t("admin.communities.homepage.button_link")
          = form.text_field :discover_community_button_link
      .lb-mt-mb-15
        = form.label :discover_community_right_image, t("admin.communities.homepage.image")
        = form.file_field :discover_community_right_image
      .lb-mt-mb-15
        = form.label :discover_community_description, t("admin.communities.homepage.content")
        = form.text_area :discover_community_description

    %h2.crf-acc-trigger
      = t("admin.communities.homepage.section_4")
    .crf-accrodian-content
      .lb-mt-mb-15
        = form.label :how_it_work_heading, t("admin.communities.homepage.heading")
        = form.text_field :how_it_work_heading
      %h3= t("admin.communities.homepage.column_1")
      .lb-mt-mb-15
        = form.label :how_it_work_col1_heading, t("admin.communities.homepage.heading")
        = form.text_field :how_it_work_col1_heading
      .lb-mt-mb-15
        = form.label :how_it_work_col1_content, t("admin.communities.homepage.content")
        = form.text_area :how_it_work_col1_content
      %h3= t("admin.communities.homepage.column_2")
      .lb-mt-mb-15
        = form.label :how_it_work_col2_heading, t("admin.communities.homepage.heading")
        = form.text_field :how_it_work_col2_heading
      .lb-mt-mb-15
        = form.label :how_it_work_col2_content, t("admin.communities.homepage.content")
        = form.text_area :how_it_work_col2_content
      %h3= t("admin.communities.homepage.column_3")
      .lb-mt-mb-15
        = form.label :how_it_work_col3_heading, t("admin.communities.homepage.heading")
        = form.text_field :how_it_work_col3_heading
      .lb-mt-mb-15
        = form.label :how_it_work_col3_content, t("admin.communities.homepage.content")
        = form.text_area :how_it_work_col3_content
      .lb-mt-mb-15
        = form.label :how_it_work_right_image, t("admin.communities.homepage.image")
        = form.file_field :how_it_work_right_image
      .row.lb-mt-mb-15
        .col-6
          = form.label :how_it_work_button_text, t("admin.communities.homepage.button_title")
          = form.text_field :how_it_work_button_text
        .col-6
          = form.label :how_it_work_button_link, t("admin.communities.homepage.button_link")
          = form.text_field :how_it_work_button_link
      
    %h2.crf-acc-trigger
      = t("admin.communities.homepage.section_5")
    .crf-accrodian-content
      .lb-mt-mb-15
        = form.label :advantage_heading, t("admin.communities.homepage.heading")
        = form.text_field :advantage_heading
      %h3= t("admin.communities.homepage.column_1")
      .lb-mt-mb-15
        = form.label :advantage_col1_heading, t("admin.communities.homepage.title")
        = form.text_field :advantage_col1_heading  
      .lb-mt-mb-15
        = form.label :advantage_col1_image, t("admin.communities.homepage.image")
        = form.file_field :advantage_col1_image
      .lb-mt-mb-15
        = form.label :advantage_col1_content,t("admin.communities.homepage.content")
        = form.text_area :advantage_col1_content
      %h3= t("admin.communities.homepage.column_2")
      .lb-mt-mb-15
        = form.label :advantage_col2_heading, t("admin.communities.homepage.title")
        = form.text_field :advantage_col2_heading  
      .lb-mt-mb-15
        = form.label :advantage_col2_image, t("admin.communities.homepage.image")
        = form.file_field :advantage_col2_image
      .lb-mt-mb-15
        = form.label :advantage_col2_content,t("admin.communities.homepage.content")
        = form.text_area :advantage_col2_content
      %h3= t("admin.communities.homepage.column_3")
      .lb-mt-mb-15
        = form.label :advantage_col3_heading, t("admin.communities.homepage.title")
        = form.text_field :advantage_col3_heading  
      .lb-mt-mb-15
        = form.label :advantage_col3_image, t("admin.communities.homepage.image")
        = form.file_field :advantage_col3_image
      .lb-mt-mb-15
        = form.label :advantage_col3_content,t("admin.communities.homepage.content")
        = form.text_area :advantage_col3_content

    %h2.crf-acc-trigger
      = t("admin.communities.homepage.hero_section")
    .crf-accrodian-content
      .lb-mt-mb-15
        = form.label :cta_link, t("admin.communities.homepage.cta_link_label")
        = form.text_field :cta_link
      .lb-mt-mb-15
        = form.label :cta_text, t("admin.communities.homepage.cta_text_label")
        = form.text_field :cta_text
    %h2.crf-acc-trigger
      = t("admin.communities.homepage.testimonial_section")
    .crf-accrodian-content
      .lb-mt-mb-15
        = form.label :testimonial_main_heading, t("admin.communities.homepage.heading")
        = form.text_field :testimonial_main_heading
      %h3= t("admin.communities.homepage.column_1")
      .row.lb-mt-mb-15
        .col-4
          = form.label :testimonial_column1_name, t("admin.communities.homepage.name")
          = form.text_field :testimonial_column1_name  
        .col-4
          = form.label :testimonial_column1_work, t("admin.communities.homepage.work")
          = form.text_field :testimonial_column1_work
        .col-4
          = form.label :testimonial_column1_type, t("admin.communities.homepage.type")
          = form.text_field :testimonial_column1_type
      .row.lb-mt-mb-15
        .col-6
          = form.label :testimonial_col1_image, t("admin.communities.homepage.image")
          = form.file_field :testimonial_col1_image
        .col-6
          = form.label :testimonial_column1_star_count, t("admin.communities.homepage.star")
          = form.text_field :testimonial_column1_star_count, placeholder: "Please enter star count"
      .row.lb-mt-mb-15
        = form.label :testimonial_column1_content, t("admin.communities.homepage.content")
        = form.text_area :testimonial_column1_content

      .row.lb-mt-mb-15
        = form.label :testimonial_column1_link, t("admin.communities.homepage.link")
        = form.text_field :testimonial_column1_link

      %h3= t("admin.communities.homepage.column_2")
      .row.lb-mt-mb-15
        .col-4
          = form.label :testimonial_column2_name, t("admin.communities.homepage.name")
          = form.text_field :testimonial_column2_name  
        .col-4
          = form.label :testimonial_column2_work, t("admin.communities.homepage.work")
          = form.text_field :testimonial_column2_work
        .col-4
          = form.label :testimonial_column2_type, t("admin.communities.homepage.type")
          = form.text_field :testimonial_column2_type
      .row.lb-mt-mb-15
        .col-6
          = form.label :testimonial_col2_image, t("admin.communities.homepage.image")
          = form.file_field :testimonial_col2_image
        .col-6
          = form.label :testimonial_column2_star_count, t("admin.communities.homepage.star")
          = form.text_field :testimonial_column2_star_count, placeholder: "Please enter star count"
      .row.lb-mt-mb-15
        = form.label :testimonial_column2_content, t("admin.communities.homepage.content")
        = form.text_area :testimonial_column2_content

      .row.lb-mt-mb-15
        = form.label :testimonial_column2_link, t("admin.communities.homepage.link")
        = form.text_field :testimonial_column2_link

      %h3= t("admin.communities.homepage.column_3")
      .row.lb-mt-mb-15
        .col-4
          = form.label :testimonial_column3_name, t("admin.communities.homepage.name")
          = form.text_field :testimonial_column3_name  
        .col-4
          = form.label :testimonial_column3_work, t("admin.communities.homepage.work")
          = form.text_field :testimonial_column3_work
        .col-4
          = form.label :testimonial_column3_type, t("admin.communities.homepage.type")
          = form.text_field :testimonial_column3_type
      .row.lb-mt-mb-15
        .col-6
          = form.label :testimonial_col3_image, t("admin.communities.homepage.image")
          = form.file_field :testimonial_col3_image
        .col-6
          = form.label :testimonial_column3_star_count, t("admin.communities.homepage.star")
          = form.text_field :testimonial_column3_star_count, placeholder: "Please enter star count"
      .row.lb-mt-mb-15
        = form.label :testimonial_column3_content, t("admin.communities.homepage.content")
        = form.text_area :testimonial_column3_content

      .row.lb-mt-mb-15
        = form.label :testimonial_column3_link, t("admin.communities.homepage.link")
        = form.text_field :testimonial_column3_link
    = form.submit "Submit Changes",class: "ver-update-btn acc-change-btn button"
    
- content_for :extra_javascript do
  :javascript
    $("h2.crf-acc-trigger").click(function(){
      $(this).next(".crf-accrodian-content").slideToggle();
    })