.progress_bar_details
  %span= progress_title
  %span.outer_margin
    = "#{@current_user.overall_progress}" +"%"
  .progress
    .bar{:style => "width: #{@current_user.overall_progress}%"}
  %span Next
  %span
    = raw redirect_link