%table#admin_listings.new_design
  %thead
    %trs
      %th
        = render partial: "layouts/sort_link", locals: { column: "type",
          direction: sort_link_direction("type"),
          title: t("admin.communities.transactions.headers.type") }
      %th
        = render partial: "layouts/sort_link", locals: { column: "started",
          direction: sort_link_direction("started"),
          title: t("admin.communities.transactions.headers.date") }
      %th
        = render partial: "layouts/sort_link", locals: { column: "listing_title",
          direction: sort_link_direction("listing_title"),
          title: t("admin.communities.transactions.headers.offer_title") }
      %th
        = render partial: "layouts/sort_link", locals: { column: "sell",
          direction: sort_link_direction("sell"),
          title: t("admin.communities.transactions.headers.sell") }
      %th
        = render partial: "layouts/sort_link", locals: { column: "purchase",
          direction: sort_link_direction("purchase"),
          title: t("admin.communities.transactions.headers.purchase") }
      %th
        = render partial: "layouts/sort_link", locals: { column: "status",
          direction: sort_link_direction("status"),
          title: t("admin.communities.transactions.headers.status") }
  %tbody
    - transactions.each do |transaction|
      %tr
        %td
          = transaction.author.eql?(target_user) ? "Sale" : "Purchase"
        %td=l(transaction.created_at, format: :short_date)
        %td= transaction.listing_title

        %td
          - if transaction.author.eql?(target_user)
            = "+" + "#{transaction.payment_total ? MoneyViewUtils.to_humanized(transaction.payment_total) : ""}"
        %td
          - if transaction.starter.eql?(target_user)
            = "-" + "#{transaction.payment_total ? MoneyViewUtils.to_humanized(transaction.payment_total) : ""}"
        %td
          = transaction.current_state.eql?('confirmed') ? "Completed" : (transaction.current_state.eql?('free') ? "Free transaction" : transaction.current_state)
.row
  .col-12
    =# will_paginate transactions
