- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{target_user.id.to_s}");

- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Profile Setup progress', redirect_link: progress_bar_redirect_link('Notification')}

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

#person_settings_form.left-navi-section.settings-section.notification-settings
  = form_for target_user do |form|
  
    %h2.edit_cell_heading.cell_change
      %span
        = t(".i_want_to_get_sms_notification_when_condition")
      %span
        = text_field_tag 'mobile_number', target_user.mobile_number.present? ? " #{target_user.mobile_number}" : " #___-___-___", class: 'hidden mobile_field'
        .mobile_details
          = target_user.mobile_number.present? ? " #{target_user.mobile_number}" : " #___-___-___"
      %span
        = " when..."
      //=# link_to update_cell_person_settings_path(target_user, anchor: 'person_mobile_number'), class: 'edit_anchor', remote: true do
      //=# image_tag 'edit.png', alt: 'edit', class: ''
      .cancel_cell.hidden
        = "cancel"
      .edit_cell.edit_anchor{action_form: "edit"}
        = 'Edit Cell #'

    = render :partial => "notification_checkbox", :collection => Person::SMS_NOTIFICATION_TYPES, :as => :notification_type, locals: {target_user: target_user}

    %h2.lower= t(".community_updates")
    = render :partial => "community_updates_radiobutton", :collection => [["email_daily_community_updates", 1], ["email_weekly_community_updates", 7], ["do_not_email_community_updates", 100000]], :as => :options, locals: {target_user: target_user}

    %h2.lower= t(".newsletters")
    = render :partial => "notification_checkbox", :collection => Person::EMAIL_NEWSLETTER_TYPES, :as => :notification_type, locals: {target_user: target_user}

    %h2.lower= t(".i_want_to_get_email_notification_when")
    = render :partial => "notification_checkbox", :collection => @current_community.email_notification_types, :as => :notification_type, locals: {target_user: target_user}

    = hidden_field_tag "person[preferences][empty_notification]", '1'
    = hidden_field_tag "notification_page", 'ok'
    .inline_buttons
      = form.button t("settings.save_and_close"), :class => "send_button_notifications"
      %input.send_button.button{:name => "save_and_next_to_enable_purchasing", :type => "submit", :value => "Save and Next"}
- content_for :extra_javascript do
  :javascript
    $('.edit_cell').click(function(){
      if ($(this).attr('action_form') == "edit") {
        $(this).attr('action_form', 'update');
        $(this).text('Update Cell #')
        $('.mobile_field').removeClass('hidden');
        $('.mobile_details').addClass('hidden');
        $('.cancel_cell').removeClass('hidden');
      }
      else {
        mobile_num = $('.mobile_field').val();
        $.ajax({
          type: 'GET',
          url: "#{update_cell_person_settings_path(target_user)}",
          data: {
            mobile_number: mobile_num
          }
        });
      }
    })
    $('.cancel_cell').click(function() {
      $(this).addClass('hidden');
      $('.mobile_field').addClass('hidden');
      $('.mobile_details').removeClass('hidden');
      $('.edit_cell').attr('action_form', 'edit');
      $('.edit_cell').text('Edit Cell #')
    })