- target_user = @service.person
- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Profile Setup progress', redirect_link: progress_bar_redirect_link('other_page')}

- content_for :title_header do
  %h1
    = t("layouts.settings.settings")
    = "-"
    = t("admin.communities.listings.my_offers")


= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

.left-navi-section

  = form_tag '', :method => :get do
    .row
      .col-6
        = text_field_tag :q, params[:q], placeholder: 'Search for a listing title'
      .col-3.status-select-wrapper
        .status-select-button
          = listing_search_status_titles

        .status-select-dropdown
          .status-select-line.reset{data: {status: 'all'}}
            = listing_search_status_titles
          - @statuses.each do |status|
            - checked = params[:status].present? && params[:status].include?(status)
            .status-select-line{class: checked ? 'selected' : '', data: {status: status}}
              = check_box_tag "status[]", status, checked, id: "status-#{status}"
              = t("admin.communities.listings.status.#{status}")
      .col-3
        = submit_tag 'Search', class: 'button listing-search-button'
        = link_to 'Show all', offers_and_request_person_settings_path(target_user)
  %span#admin_listings_count= page_entries_info(@listings, :model => "Listing").html_safe


  %table#admin_listings
    %thead
      %tr
        %th= t("admin.communities.listings.headers.title")
        %th
          = render partial: "layouts/sort_link", locals: { column: "started",
            direction: sort_link_direction("started"),
            title: t("admin.communities.listings.headers.created") }
        %th
          = render partial: "layouts/sort_link", locals: { column: "updated",
            direction: sort_link_direction("updated"),
            title: t("admin.communities.listings.headers.updated") }
        %th= t("admin.communities.listings.headers.category")
        %th= t("admin.communities.listings.headers.status")
        %th

    %tbody
      - @listings.each do |listing|
        %tr{id: "listing-#{listing.id}"}
          %td= link_to listing.title, listing_path(listing)
          %td= l(listing.created_at, format: :short)
          %td= l(listing.updated_at, format: :short)
          %td
            - category = listing.category
            = link_to category.display_name(I18n.locale), search_path(category: category.url)
          %td
            - status = t("admin.communities.listings.#{listing.listing_status}")
            = status
          %td
            = link_to edit_listing_path(listing) do
              = icon_tag("edit")
  .row
    .col-12
      = will_paginate @listings
  .row
    .col-12
      = link_to 'Click to Post An Offer', new_listing_path 



- content_for :extra_javascript do
  = js_t ["admin.communities.listings.status.all", "admin.communities.listings.status.selected_js"], true
  :javascript
    window.ST.Listings.init();