- target_user = @service.person
- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Profile Setup progress', redirect_link: progress_bar_redirect_link('Offers')}

- content_for :title_header do
  %h1
    = t("layouts.settings.settings")
    = "-"
    = t("admin.communities.listings.my_offers")


= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

.left-navi-section

  = form_tag '', :method => :get, id: 'filter_form' do
    .row
      .col-6
        = text_field_tag :q, params[:q], placeholder: 'Search for a listing title'
      .col-3
        = submit_tag 'Search', class: 'button listing-search-button'
        //=# link_to 'Show all', offers_and_request_person_settings_path(target_user)
      .col-3
        = select_tag 'status', options_for_select(['Open', 'Closed', 'Expired'], selected: params[:status]), prompt: 'All statuses', id: 'listing_status_filter', class: 'listing_status_filter'
  %span#admin_listings_count= page_entries_info(@listings, :model => "Listing").html_safe


  %table#admin_listings
    %thead
      %tr
        %th= t("admin.communities.listings.headers.title")
        %th
          = render partial: "layouts/sort_link", locals: { column: "started",
            direction: sort_link_direction("started"),
            title: t("admin.communities.listings.headers.created") }
        %th
          = render partial: "layouts/sort_link", locals: { column: "updated",
            direction: sort_link_direction("updated"),
            title: t("admin.communities.listings.headers.updated") }
        %th= t("admin.communities.listings.headers.category")
        %th= t("admin.communities.listings.headers.status")
        %th

    %tbody
      - @listings.each do |listing|
        %tr{id: "listing-#{listing.id}"}
          %td= link_to listing.title, listing_path(listing)
          %td= l(listing.created_at, format: :short)
          %td= l(listing.updated_at, format: :short)
          %td
            - category = listing.category
            = link_to category.display_name(I18n.locale), search_path(category: category.url)
          %td
            - status = t("admin.communities.listings.#{listing.listing_status}")
            = status
          %td
            = link_to edit_listing_path(listing) do
              = icon_tag("edit")
  .row
    .col-12
      = will_paginate @listings
  - unless @listings.present?
    .row
      .col-12
        .important_notice_box
          .important_text IMPORTANT:
          .important_notice You need to have atleast one offer to be seen by the rest of the community.
    .row
      .col-12
        .click_below_text Click below to start
  .row
    .col-12
      = link_to '+ POST AN OFFER', new_listing_path, class: 'button post_offer_btn'



- content_for :extra_javascript do
  :javascript
    $("#listing_status_filter").on('change', function(){
      $("#filter_form").submit();
    })

