= javascript_include_tag "#{STRIPE_JS_HOST}/v3/"

= form_tag reload_your_balance_person_settings_path(@current_user), method: :post, id: "reload-balance-form" do
  .preauthorize-section.mr_0.custom_reload_box
    .h2.reload_heading
      Reload Your Balance

    .icon_row
      .logo_box
        = image_tag 'A_logo.png', alt: 'logo', class: 'logo_img'
        .logo_name
          Avontage
      .feedback_box
        = image_tag 'star.png', alt: 'star', class: 'star_img'
        .rating_box
          .rating
            = "#{@feedback_positive_percentage} positive (#{@received_positive_testimonials.size}/#{@received_testimonials.size})"
          .feedback_text Feedback

    .balance_heading
      Your Savings Account Balance:
      %span
        = image_tag 'avonatge_currency.png', alt: 'currency', class: 'currency_icon'
      %span.currency_text
        = MoneyViewUtils.to_humanized(@current_user.coupon_balance).split('$')[1].html_safe

    .row
      / %p.or Enter Your Credit card information to be used for Avontage Marketplaces fees
      .amount_box
        .amount_heading
          Amount
        .amount_price_row
          .select_price_box
            = radio_button_tag 'balance', 50, true, id: 'radio1'
            %label{:for => "radio1"} $50
          .select_price_box
            = radio_button_tag 'balance', 100, false, id: 'radio2'
            %label{:for => "radio2"} $100
          .select_price_box
            = radio_button_tag 'balance', 200, false, id: 'radio3'
            %label{:for => "radio3"} $200
          .select_price_box
            = radio_button_tag 'balance', 500, false, id: 'radio4'
            %label{:for => "radio4"} $500
          .number_field_box
            .currency $
            = number_field_tag 'custom_balance', nil, :placeholder=> "Enter an amount...", class: 'balance_input'

      .payment_method
        Payment method
      .earn_extra-box
        - if @current_community.reload_page_graphic.present?
          = image_tag @current_community.reload_page_graphic.url
        - else
          %span.bold
            Earn
          %span.green
            Extra $10 Avontage Bucks
          When you reload Avontage admin will add your bonus after the reload
      .form-row
        .row
          .col-12
            #card-element.col-12.left
            %label.hidden#card-errors{role: "alert"}
        .row
          .col-12

        .row.stripe-payment.mr_0
          .col-12.payment-button-wrapper.paypal-button-wrapper
            = button_tag t("payment_settings.stripe_customer.save_card"), id: "send-add-card", class: 'checkout-with-stripe-button'

          .row
            .col-12
              %p.mr_top= t("stripe_accounts.card_not_stored").html_safe
          .row
            .col-12
              %p=# t("stripe_accounts.deduction_notice", percentage: @stripe_service[:commission_from_seller] ).html_safe

- content_for :extra_javascript do
  :javascript
    var stripe = Stripe("#{StripeHelper.publishable_key(@current_community.id)}");
    var elements = stripe.elements();
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '24px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
        displayError.className = 'error';
      } else {
        displayError.textContent = '';
        displayError.className = 'hidden';
      }
    });

    $("#send-add-card").on('click', function(event) {
      event.preventDefault();
      var form = $("#reload-balance-form");
      form.validate();
      if(!form.valid()) {
        return false;
      }

      stripe.createToken(card).then(function(result) {
        var errorElement = document.getElementById('card-errors');
        if (result.error) {
          errorElement.textContent = result.error.message;
          errorElement.className = 'error';
        } else {
          errorElement.className = 'hidden';
          var input = $("<input/>", {type: "hidden", name: "stripe_token", value: result.token.id});
          form.append(input);
          if(form.valid()) {
            form.submit();
          }
        }
      });
    });  