- target_user = @service.person
- content_for :javascript do
  initialize_update_profile_info_form("#{I18n.locale}","#{target_user.id.to_s}", #{@current_community.real_name_required?});

- content_for :extra_javascript do
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "?key=#{maps_key}" : ""
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) || search_mode == :keyword
  = javascript_include_tag "//maps.googleapis.com/maps/api/js#{key_param}" if needs_maps

  :javascript
    createHasgtags($(".hashtags_input").val())

    $(".hashtags_input").on('focusout', function(){
      createHasgtags($(this).val())
    })

    function createHasgtags(ele_value){
      if (ele_value != ''){
        current_value = ele_value.split(" ")
        current_value_arr = []
        $(current_value).each(function(i, e){
          var step = 0;
          for (let step = 0; step < 5; step++) {
            e = e.replace('#', '')
          }
          current_value_arr.push(e)
        })
        var outPlus = [];
        $(current_value_arr).each(function( g, h ) {
          outPlus.push("#"+h.split(" ").join(' #'));
        });
        final_string = outPlus.join(' ')
        $(".hashtags_input").val(final_string)
      }
    }
- content_for :profile_progress do
  = render :partial => "settings/progress_bar", :locals => {progress_title: target_user.progress_title, redirect_link: redirect_link_call, link_text: target_user.redirect_link_text, progress_percent: target_user.overall_progress}
  %p.profile_text
    = t("settings.profile.profile_complete_info")
- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

#person_settings_form.left-navi-section.settings-section
  %p
    = t("settings.profile.our_promise_for_profile")
    =# link_to(t("settings.profile.profile_page"), target_user) + "."
  %p
    = t("settings.profile.these_fields_are_shown_in_your")
    = link_to(t("settings.profile.profile_page"), target_user) + "."

  = form_for target_user do |form| 
    .row
      .col-6
        = form.label :given_name, t("settings.profile.given_name")
        = form.text_field :given_name, :class => "text_field", :maxlength => "30", required: true
      .col-6
        .inline-label-container
          = form.label :family_name, t("settings.profile.family_name"), :class => "inline"
          %small
            - if ["first_name_with_initial", "first_name_only"].include? @current_community.name_display_type
              = t("settings.profile.#{@current_community.name_display_type}")
          = form.text_field :family_name, :class => "text_field", :maxlength => "30", required: true
    -# Business and website name
    .row
      .col-6
        = form.label :business_name, t("settings.profile.business_name")
        = form.text_field :business_name, :class => "text_field", :maxlength => "30", required: true
      .col-6
        = form.label :website_name, t("settings.profile.website_name")
        = form.text_field :website_name, :class => "text_field", :maxlength => "30"
    -# Display name
    .row
      .col-6
        .inline-label-container
          = form.label :display_name, t("settings.profile.display_name"), class: "inline"
        %span.alert-box-icon
          = icon_tag("information", ["icon-fix"])
        %small
          = t("settings.profile.display_name_description")
        = form.text_field :display_name, class: "text_field", :maxlength => "25"
      .col-6
        .inline-label-container
          = form.label :referral_code, t("settings.profile.referral_code"), class: "inline"
        %span.alert-box-icon
          = icon_tag("information", ["icon-fix"])
        %small
          = t("settings.profile.referral_code_description")
        = form.text_field :referral_code, class: "text_field", :maxlength => "25"

    -# Phone number
    - show_phone_number = FeatureFlagHelper.feature_enabled?(:user_fields) ? @service.fixed_phone_field? : true
    .row
      .col-6
        - if show_phone_number
          .inline-label-container
            = form.label :phone_number, t("settings.profile.phone_number"), :class => "inline"
            %small
              = t('settings.profile.invisible')
          = form.text_field :phone_number, :class => "text_field", :maxlength => "25", required: true
      .col-6
        -# Mobile number
        .inline-label-container
          = form.label :mobile_number, t("settings.profile.mobile_number"), :class => "inline"
          %small
            = t('settings.profile.invisible')
        = form.text_field :mobile_number, :class => "text_field", :maxlength => "25", required: true

    -# Location
    .inline-label-container
      = form.label :street_address, t("settings.profile.street_address"), :class => "inline"
      %small
        = t('settings.profile.default_in_listing')
    %span.alert-box-icon
      = icon_tag("information", ["icon-fix"])
    %small
      = t("settings.profile.location_description")
    = form.text_field :street_address, :class => "text_field", :onkeyup => "timed_input(this)", required: true
    #settings_map_canvas.map
      - content_for :extra_javascript do
        :javascript
          source = document.getElementById("person_street_address");
          $(document).ready(function(){
            googlemapMarkerInit("settings_map_canvas","person_location","person_street_address", true, #{tribe_latitude}, #{tribe_longitude});
            });
    -# Physical locations
    .physical_locations
      = form.label :physical_location, "Number of Physical Locations"
      = form.select :physical_location, options_for_select([ "None, my business is online only", "One location", "Multiple locations" ], target_user.physical_location), include_blank: "-Select-"
    -# Profile picture
    .inline-label-container
      = form.label :image, t("settings.profile.profile_picture")
    %span.alert-box-icon
      = icon_tag("information", ["icon-fix"])
    %small
      = t("settings.profile.profile_picture_description")
    - if target_user.image.present?
      = image_tag target_user.image.url(:small), class: "square_image"
    = render 'layouts/filename', file_field: target_user.image
    .upload_image
      = "Upload an Image"
      = form.file_field :image, :size => 30, :id => "avatar_file", class: "invisible-image"

    -# About text
    = form.label :description, t("settings.profile.about_you"), :class => "input"
    = form.text_area :description, :class => "update_profile_description_text_area", required: true, placeholder: "HINT: Our community is built on trust. The best way to build trust is to provide accurate information about your business and the skills that you offer.\n\n 1- Upload your photo or the logo of your business.\n 2- Tell us about your business, your experience, and your passions.\n 3- Enter your website and social media links to built credibility quick.\n\n Your profile is your resume. This is where members come to check you out to make sure you're legit"
    -# Community Description experience
    = form.label :community_description_experience, t("settings.profile.community_experience"), :class => "input"
    = form.text_area :community_description_experience, :class => "update_profile_description_text_area", placeholder: "HINT: I enjoy bartering my services for health, fitness and restaurant offers and love being part of like-minded community of business owners"

    = form.label :tags, 'Hashtags', :class => "input"
    = form.text_area :tags, :class => "update_profile_description_text_area hashtags_input"


    .row
      .col-6
        = form.label :facebook_link, t("settings.profile.facebook_link")
        = form.text_field :facebook_link, :class => "text_field", :maxlength => "25"
      .col-6
        = form.label :instagram_link, t("settings.profile.instagram_link")
        = form.text_field :instagram_link, :class => "text_field", :maxlength => "25"
    .row
      .col-6
        = form.label :linkedin_link, t("settings.profile.linkedin_link")
        = form.text_field :linkedin_link, :class => "text_field", :maxlength => "25"
      .col-6
        = form.label :twitter_link, t("settings.profile.twitter_link")
        = form.text_field :twitter_link, :class => "text_field", :maxlength => "25"

    = form.fields_for :location do |loc|
      = loc.hidden_field :address, :value => target_user.location.address
      = loc.hidden_field :google_address, :value => target_user.location.google_address
      = loc.hidden_field :latitude, :value => target_user.location.latitude
      = loc.hidden_field :longitude, :value => target_user.location.longitude
    - if FeatureFlagHelper.feature_enabled?(:user_fields) && @service.has_person_custom_fields?
      - @service.custom_field_values.each_with_index do |custom_field_value, index|
        .inline-label-container
        - custom_field = custom_field_value.question
        - custom_field.with_type do |field_type|
          - prefix = "person[custom_field_values_attributes][]"
          .inline-label-container
            = label "person_custom_fields", index, "#{custom_field.name(I18n.locale)}#{custom_field.required ? '*' : ''}",
              class: 'inline'
            - if custom_field.public?
              %small= t('settings.profile.shown_in_your_public_profile')
          = hidden_field_tag "#{prefix}[id]", custom_field_value.id
          = hidden_field_tag "#{prefix}[type]", custom_field_value.type
          = hidden_field_tag "#{prefix}[custom_field_id]", custom_field_value.custom_field_id
          = render "settings/custom_fields/#{field_type}", :service => @service,
            :custom_field => custom_field, index: index,
            :custom_field_value => custom_field_value,
            :prefix => prefix
    .inline_buttons
      = form.button t("settings.save_and_close"), :class => "send_button"
      %input.send_button.button{:name => "save_and_next", :type => "submit", :value => "Save and Next"}
      =# form.button t("settings.save_and_next"), :class => "send_button"
      =# form.button t("settings.save_and_next"), :class => "send_button"
