- target_user = @service.person
- content_for :profile_progress do
  = render :partial => "settings/progress_bar", :locals => {progress_title: target_user.progress_title, redirect_link: redirect_link_call, link_text: target_user.redirect_link_text, progress_percent: target_user.overall_progress}
- content_for :title_header do
  %h1= t("layouts.no_tribe.transaction_history")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

#person_settings_form.left-navi-section.settings-section
  .undo-mobile-wrapper-margin#conversations
    - if @current_user.present?
      .new_coupon_work
        .inner_container
          .row.coupan_balances
            %span.people-custom-fields-title.coupan_title Your Avontage Bucks Balance:
            %span.price
              = image_tag "avonatge_currency.png"
              = MoneyViewUtils.to_humanized(@current_user.coupon_balance).split('$')[1].html_safe
          .load_balance
            = link_to 'Reload Your Balance', reload_your_balance_person_settings_path(@current_user), class: "button load_button"
      %br
    = form_tag transactions_person_settings_path(target_user), :method => :get do
      .row
        .col-6
          = hidden_field_tag :search_for, 'none'
          = text_field_tag :transaction_title, params[:transaction_title], placeholder: 'Search for a transaction title or other party involvement'
        .col-3
          = select_tag :status, options_for_select([['All statuses', 'all_status'], ['Canceled', 'canceled'], ['Completed', 'confirmed'], ['Free Transaction', 'free'], ['Paid', 'paid'], ['Preauthorized','preauthorized'], ['Rejected','rejected']], selected: params[:status])
        .col-2
          = submit_tag 'Submit', class: 'ver-update-btn acc-change-btn button report_submit'
    - if transactions.present?
      .scroll_frame
        .scrollable_table
          = render :partial => "transaction_row", :locals => {transactions: transactions, target_user: target_user  }

          =# will_paginate(transactions)
          =# pageless(transactions.total_pages, '#conversations', request.path, t('conversations.index.loading_more_messages'))

    - else
      #no_conversations
        = t("conversations.index.no_transactions")