- target_user = @service.person

- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Profile Setup progress', redirect_link: progress_bar_redirect_link('other_page')}

- content_for :title_header do
  %h1= t("layouts.no_tribe.transaction_history")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

#person_settings_form.left-navi-section.settings-section
  .undo-mobile-wrapper-margin#conversations
    - if @current_user.present?
      .new_coupon_work.redesign_coupan_work
        .inner_container
          .row.coupan_balances
            %span.people-custom-fields-title.coupan_title Your Avontage Bucks Balance:
            %span.price
              = image_tag "avonatge_currency.png"
              = MoneyViewUtils.to_humanized(@current_user.coupon_balance).split('$')[1].html_safe
          .load_balance
            = link_to 'Reload Your Balance', reload_your_balance_person_settings_path(@current_user), class: "button load_button"
      %br

  = form_tag '', :method => :get, id: 'transaction_filter_form' do
    .row
      .col-6
        = text_field_tag :q, params[:q], placeholder: 'Search for a transaction title or other party involved'
      .col-3
        = submit_tag 'Search', class: 'button listing-search-button'
        =# link_to 'Show all', transactions_person_settings_path(target_user, sort: "last_activity", direction: "desc")
      .col-3
        = select_tag 'status', options_for_select(@statuses, selected: params[:status]), prompt: 'All statuses', id: 'transaction_status_filter', class: 'listing_status_filter' 

  %span#admin_transactions_count= page_entries_info(@transactions, :model => "Transaction").html_safe


  %table#admin_transactions
    %thead
      %tr
        %th
          =# render partial: "layouts/sort_link", locals: { column: "transaction_type", direction: sort_link_direction("transaction_type"), title: 'Type'}
          Type
        %th= render partial: "layouts/sort_link", locals: { column: "started", direction: sort_link_direction("started"), title: t("admin.communities.transactions.headers.started") }
        %th= render partial: "layouts/sort_link", locals: { column: "last_activity", direction: sort_link_direction("last_activity"), title: t("admin.communities.transactions.headers.last_activity") }
        %th
          =# render partial: "layouts/sort_link", locals: { column: "other_member", direction: sort_link_direction("other_member"), title: 'Other Member' }
          Other Member
        %th= render partial: "layouts/sort_link", locals: { column: "listing", direction: sort_link_direction("listing"), title: 'Offer Title' }
        %th
          =# render partial: "layouts/sort_link", locals: { column: "sell_amount", direction: sort_link_direction("sell_amount"), title: 'Sell'}
          Sell
        %th
          =# render partial: "layouts/sort_link", locals: { column: "purchase_amount", direction: sort_link_direction("purchase_amount"), title: 'Purchase'}
          Purchase
        %th= render partial: "layouts/sort_link", locals: { column: "current_state", direction: sort_link_direction("current_state"), title: 'Status'}
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.listing_author_id == target_user.id ? "Sell" : "Purchase"
          %td=l(transaction.created_at, format: :short_date)
          %td=l(transaction.last_activity, format: :short_date)
          %td
            - if transaction.listing_author_id == target_user.id
              =Maybe(transaction.starter).map { |p| link_to_unless(p.deleted, PersonViewUtils.person_display_name(p, @current_community),person_path(p.username)) }.or_else("")
            - else
              =Maybe(transaction.author).map { |p| link_to_unless(p.deleted, PersonViewUtils.person_display_name(p, @current_community), person_path(p.username)) }.or_else("")
          - listing_title = transaction.listing_title || t("admin.communities.transactions.not_available")
          %td=Maybe(transaction.listing).map { |listing| link_to_unless(listing.deleted, listing_title, listing_path(transaction.listing_id)) }.or_else(listing_title)
          %td{style: "width: 145px"}
            - if transaction.listing_author_id == target_user.id
              = '+'
              - if transaction.payment_gateway.eql?(:coupon_pay)
                - if transaction.payment_total
                  = image_tag "black_a_img.png", width: '14px'
                  = MoneyViewUtils.to_humanized(transaction.payment_total - transaction.commission).split('$')[1]
              - else
                =transaction.payment_total ? MoneyViewUtils.to_humanized(transaction.payment_total - transaction.commission) : ""
          %td{style: "width: 145px"}
            - if transaction.listing_author_id != target_user.id
              = '-'
              - if transaction.payment_gateway.eql?(:coupon_pay)
                - coupon_discount = transaction.coupon_discount.present? ? transaction.coupon_discount : Money.new(0, 'USD')
                - if transaction.payment_total
                  = image_tag "black_a_img.png", width: '14px'
                  = MoneyViewUtils.to_humanized(transaction.payment_total - coupon_discount).split('$')[1]
              - else
                =transaction.payment_total ? MoneyViewUtils.to_humanized(transaction.payment_total) : ""

          %td
            - status = t("admin.communities.transactions.status.#{transaction.payment_gateway}.#{transaction.status}")
            - if transaction.show_link?
              = link_to status, person_transaction_path(target_user, transaction.id)
            - else
              = status
            = link_to 'View Details', person_transaction_path(target_user, transaction.id), class: 'button'
  .row
    .col-12
      = will_paginate @transactions

- content_for :extra_javascript do
  :javascript
    $("#transaction_status_filter").on('change', function(){
      $("#transaction_filter_form").submit();
    })
    