- target_user = @service.person
- content_for :javascript do
  initialize_update_profile_info_form("#{I18n.locale}","#{target_user.id.to_s}", #{@current_community.real_name_required?});

- if @current_user.overall_progress != 100
  - content_for :profile_progress do
    = render :partial => "settings/progress_bar", :locals => {progress_title: 'Member Setup progress', redirect_link: progress_bar_redirect_link('WishList')}

- content_for :title_header do
  %h1
    = t("layouts.no_tribe.wish_list")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community, @current_user.is_manager? && @current_user != target_user) }

#person_settings_form.left-navi-section.settings-section
  %p Choose the service types and skills that you need help with-on trade
  %h2 Wish List (you can modify these later, as your needs change)
  %h4 Choose min 3 categories
  = form_tag url: person_registration_path, method: "PUT"
    .row
      .col-12
      	= form.label :business_stage, "1st Choice"
    		= form.select :business_stage, options_for_select(Person::BUSINESS_STAGE, Person::BUSINESS_STAGE[target_user.business_stage]), include_blank: "-Select-"
    .row
      .col-12
    .row
      .col-12
    .row
      .col-12
    .inline_buttons
      - unless target_user.overall_progress != 100
        = form.button t("settings.save_and_close"), :class => "send_button"
      %input.send_button.button{:name => "save_and_next", :type => "submit", :value => "Save and Next"}