- payment_gateway = @listing_presenter.commission[:payment_gateway]
.price-container
  - if @listing_presenter.shape[:price_enabled]
    = form.label :price, t("listings.form.price.price_label") + "*"
    = render partial: "layouts/price_info_text", locals: { text: t("listings.form.price.text") }
    = form.text_field :price, :class => "price-field", :maxlength => "10", :placeholder => t("listings.form.price.placeholder")
    = render partial: "listings/form/price_currency", locals: {form: form}

    - if @listing_presenter.unit_options.empty?
      -# No-op
    - elsif @listing_presenter.unit_options.length == 1
      - unit_option = @listing_presenter.unit_options.first
      .quantity-description.new_avog_buck_container
        = t(".per")
        = unit_option[:display]
        %span.new_avn_content
          = image_tag "black_a_img.png", class: 'avon__buck'
          = image_tag "equal.png", class: 'avon_equal'
          %span.new_avon
            Avontage Bucks
        
      = hidden_field_tag("listing[unit]", unit_option[:value])
    - else
      .quantity-description
        = t(".per")
      %select.js-listing-unit{name: "listing[unit]"}
        - @listing_presenter.unit_options.each do |unit_option|
          - if @listing.new_record? && unit_option[:display].eql?("Offer")
            - unit_option[:selected] = true
          %option{value: unit_option[:value], selected: unit_option[:selected], data: { kind: unit_option[:kind] }}
            = unit_option[:display]

    %small
      - payment_fee_info_link = capture do
        %a.listing-payment-fee-info-link#payment_fee_info_link{href: '#'}
          = t(".payment_fee_info_link_text")
      - if @listing_presenter.commission[:seller_commission_in_use]
        - if payment_gateway.present?
          = t(".after_service_fee_you_will_get_payment_text", :sum_with_currency => '<span id="fee_display"></span>', :payment_fee_info_link => payment_fee_info_link).html_safe
        - else
          = t(".after_service_fee_you_will_get", :sum_with_currency => '<span id="fee_display"></span>').html_safe

- if payment_gateway.present?
  = render layout: "layouts/lightbox", locals: { id: "payment_fee_info_content"} do
    %h2= t("common.payment_fee_info.title1")

    %p= t("common.payment_fee_info.info1")

    %p= t("common.payment_fee_info.info2", stripe_commission: @listing_presenter.commission[:stripe_commission])

    %p= t("common.payment_fee_info.info3", stripe_commission: @listing_presenter.commission[:stripe_commission])

    %p= t("common.payment_fee_info.info4")

    -#
      - if payment_gateway == :stripe || payment_gateway == [:paypal, :stripe]
        %h4= t("common.payment_fee_info.stripe")
        - text_with_line_breaks_html_safe do
          - link_to_stripe = link_to(t("common.stripe_fee_info.link_to_stripe_text"), @listing_presenter.stripe_fees_url, target: "_blank")
          = t("common.stripe_fee_info.body_text", link_to_stripe: link_to_stripe,
            stripe_commission: @listing_presenter.commission[:stripe_commission],
            minimum_transaction_fee: MoneyViewUtils.to_humanized(@listing_presenter.commission[:stripe_minimum_transaction_fee])).html_safe

      - if payment_gateway == :paypal || payment_gateway == [:paypal, :stripe]
        %h4= t("common.payment_fee_info.paypal")
        - text_with_line_breaks_html_safe do
          - link_to_paypal = link_to(t("common.paypal_fee_info.link_to_paypal_text"), @listing_presenter.paypal_fees_url, target: "_blank")
          = t("common.paypal_fee_info.body_text", link_to_paypal: link_to_paypal,
            paypal_commission: @listing_presenter.commission[:paypal_commission],
            minimum_transaction_fee: MoneyViewUtils.to_humanized(@listing_presenter.commission[:paypal_minimum_transaction_fee])).html_safe


  - if run_js_immediately
    :javascript
      $('#payment_fee_info_link').click(function() { $('#payment_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); return false});
  - else
    - content_for :extra_javascript do
      :javascript
        $('#payment_fee_info_link').click(function() { $('#payment_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); ; return false});
