- content_for :javascript do 
  ST.initializeManageListing();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    Offers & Requests

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

- content_for :ajax_update do
  #admin-members-saving-posting-allowed.ajax-update-notice
    %span.ajax-update-icon{:class => "#{icon_class("loading")} icon-fix" }
    %span.ajax-update-text
      = t("admin.communities.manage_members.saving_user_status")
  #admin-members-saved-posting-allowed.ajax-update-success
    %span.ajax-update-icon{:class => "#{icon_class("check")} icon-fix" }
    %span.ajax-update-text
      = t("admin.communities.manage_members.save_user_status_successful")
  #admin-members-error-posting-allowed.ajax-update-error
    = t("admin.communities.manage_members.save_user_status_error")

= render :partial => "layouts/ajax_update_notification"
- unless @current_user.is_manager?
  #export-as-csv.right= link_to(" " + t("admin.communities.manage_members.export_all_as_csv"), {format: :csv}, {class: "js-users-csv-export " + icon_class("download")})

.left-navi-section
  %h2 Offers & Requests

  %span#admin_listings_count= page_entries_info(@listings, :model => "Listing").html_safe

  %table#admin_listings
    %thead
      %tr
        %th= t("admin.communities.listings.headers.title")
        %th= t("admin.communities.listings.headers.author")
        %th
          = render partial: "layouts/sort_link", locals: { column: "started",
            direction: sort_link_direction("started"),
            title: t("admin.communities.listings.headers.created") }
        %th
          = render partial: "layouts/sort_link", locals: { column: "updated",
            direction: sort_link_direction("updated"),
            title: t("admin.communities.listings.headers.updated") }
        %th
          = render partial: "layouts/sort_link", locals: { column: "category",
            direction: sort_link_direction("category"),
            title: t("admin.communities.listings.headers.category") }         
        %th= t("admin.communities.listings.headers.status")
        %th
          = render partial: "layouts/sort_link", locals: { column: "featured",
            direction: sort_link_direction("featured"),
            title: t("admin.communities.listings.headers.featured") }       
        %th= t("admin.communities.listings.headers.edit_listing")
        %th= t("admin.communities.listings.headers.delete_listing")

    %tbody
      - @listings.each do |listing|
        %tr
          %td
            = link_to listing.title, listing_path(listing)
          %td
            - p = listing.author
            - if p.deleted
              = ''
            - else
              = link_to PersonViewUtils.person_display_name(p, @current_community), person_path(p.username)
          %td= l(listing.created_at, format: :short)
          %td= l(listing.updated_at, format: :short)
          %td
            - category = listing.category
            = link_to category.display_name(I18n.locale), search_path(category: category.url)
          %td
            - expired = listing.valid_until && listing.valid_until < DateTime.current
            - key = expired ? 'expired' : (listing.open? ? 'open' : 'closed')
            = t("admin.communities.listings.#{key}")

          %td{:style => "text-align: center"}
            = check_box_tag "featured[#{listing.id}]", listing.id, listing.featured?,
              data: {featured_url: featured_admin_community_listing_path(@current_community.id, listing.id),
              non_featured_url: featured_admin_community_listing_path(@current_community.id, listing.id)},
              class: "admin-featured-listing-toggle"

          %td
            = link_to edit_listing_path(listing) do
              = icon_tag("edit")
          %td  
            %a.custom_balance{href: admin_community_listing_path(@current_community.id,listing.id), data: {method: :delete, confirm: "Are you sure you want to delete!"}}
              %i.fa.fa-trash

  .row
    .col-12
      = will_paginate @listings
