- content_for :title, "Contact Us | Avontage - Arizona Barter exchange & Freelance Market"
- content_for :meta_description, "Contact Avontage in Arizona to get barter exchange and freelance market services. Be a part of our community to collaborate and grow your business locally."
- content_for :keywords, "Arizona barter exchange"

- content_for :javascript do
  initialize_user_feedback_form("#{I18n.locale}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.feedback")

- if has_admin_rights
  %p= render :partial => "layouts/info_text", :locals => { :text => t("layouts.application.dont_use_to_contact_support") }

.new-feedback-form.centered-section
  = form_for feedback_form, :url => user_feedbacks_path do |form|
    - unless email_present
      = form.label :email, t("layouts.application.your_email_address")
      = form.text_field :email
    = form.label :title, "You should not see this field, if CSS is working.", :class => "unwanted_text_field"
    = form.text_field :title, :class => "unwanted_text_field", :id => "error_feedback_unwanted_title"
    = form.label :content, t("layouts.application.feedback")
    = form.text_area :content
    = form.hidden_field :url, :value => request.headers["HTTP_REFERER"] || request.original_url
    = form.button t("layouts.application.send_feedback_to_admin")

  .social_contact_box
    .social_contact_row
      = link_to 'https://app.purechat.com/w/AvontageAgent' do
        = image_tag 'livechat.png', alt: 'livechat', class: 'social_img'
      %span
        %i Live chat with an agent
    .social_contact_row
      = link_to 'https://my.artibot.ai/avonbot' do
        = image_tag 'avon_boat.png', alt: 'livechat', class: 'social_img'
      %span
        %i Chat with Avon bot
    .social_contact_row
      = image_tag 'text.png', alt: 'livechat', class: 'social_img'
      %span
        %i Text us anytime 602-730-1719
    .social_contact_row
      = image_tag 'call.png', alt: 'livechat', class: 'social_img'
      %span
        %i Call us 602-730-1719

  .social_link_heading
    %i Let's connect
  .social_link_box

    = link_to 'https://www.linkedin.com/company/avontage/' do
      = image_tag 'homepage/linkedin.png', alt: 'logo'
    = link_to 'https://www.facebook.com/avontage' do
      = image_tag 'homepage/facebook.png', alt: 'logo'
    = link_to 'https://www.instagram.com/avontage/' do
      = image_tag 'homepage/instagram.png', alt: 'logo'
    = link_to 'https://www.pinterest.com/avontage/pins/' do
      = image_tag 'homepage/pinterest.png', alt: 'logo'
    = link_to 'https://twitter.com/avontagebiz' do
      = image_tag 'homepage/twitter.png', alt: 'logo'

  .platform_heading Get the Avontage app

  .app_store_box
    = link_to 'https://apps.apple.com/us/app/avontage/id1477651720' do
      = image_tag 'homepage/app_store.png', alt: 'logo'
    = link_to 'https://play.google.com/store/apps/details?id=com.avontage.app&hl=en_US' do
      = image_tag 'homepage/google_play.png', alt: 'logo'
