= javascript_include_tag "#{STRIPE_JS_HOST}/v3/"
- if @current_user.has_coupon_balance?
  .pay_with_coupan
    - if @current_user.has_coupon_balance? 
      .payment-button-wrapper.paypal-button-wrapper.left
        %button{class: 'checkout-with-coupon-pay customiz_btn', id: 'coupon-pay', style: 'margin: 0px;'}
          = "Pay with Avontage Bucks"
          = image_tag "A_Buck_Currency_white.png"
        =# button_tag "Pay with Avon-BUCKS", id: "coupon-pay", class: 'checkout-with-coupon-pay customiz_btn',style:'margin: 0px;'
    .new_coupon_work.for_booking
      .inner_container
        .row.coupan_balances
          %span.people-custom-fields-title.coupan_title Your Savings Account Balance:
          %span.price
            = image_tag "avonatge_currency.png"
            = (MoneyViewUtils.to_humanized(@current_user.coupon_balance).split('$')[1]).html_safe
        .short_a_bucks
          Short on Avontage Bucks?
        .load_balance
          = link_to 'Reload Your Balance', reload_your_balance_person_settings_path(@current_user), class: "button load_button"

    // .coupan_balances.for_booking
    //   %span.people-custom-fields-title.coupan_title Your Available Avontage Bucks balance:
    //   %span.price
    //     =# image_tag "black_a_img.png"
    //     =# (MoneyViewUtils.to_humanized(@current_user.coupon_balance).split('$')[1]).html_safe
    //    =# MoneyViewUtils.to_humanized(@current_user.coupon_balance).html_safe
    / .bucks_guarantee_data
    /   = image_tag 'Avontage_Loves.png', class: 'heart_beat'
    /   = image_tag 'safe_bartering.png', class: 'safety_batch'
    /   .inner_data
    /     .heading
    /       The Avontage Bucks Guarantee
    /     %ul
    /       %li
    /         100% no questions asked refund policy, as long as the offer has not been redeemed, no work has begun by the seller, and not Late Canceled or No Show on your part.
    /       %li
    /         Satisfaction guaranteed for services redeemed. We will do everything in our power to mediate and resolve any issues to your satisfaction or Avontage Bucks credit will be issued.
    -# Not in use
      %p.left
        Once you've purchased this Offer using your Avontage Bucks Credits, and the Seller has Accepted, contact the Seller to Redeem your offer. See REDEEM INSTRUCTIONS on the Offer page. Avontage Bucks credits will be charged only if
        = link_to(PersonViewUtils.person_display_name(@listing.author, @current_community), person_path(username: @listing.author.username))
        accepts this transaction. If 
        = link_to(PersonViewUtils.person_display_name(@listing.author, @current_community), person_path(username: @listing.author.username)) 
        declines, no charge is applied to your Avontage Bucks balance.
- if stripe_in_use  
  %span.devide 
    / %span.or OR
  .full_amount or pay full amount with credit card
- if paypal_in_use
  .row
    .col-12
      %h3
        = t(".pay_with_card")
.form-row
  - if stripe_in_use
    .row
      .col-12
        #card-element.col-12.left
        %label.hidden#card-errors{role: "alert"}

  - if stripe_shipping_required
    %h2= t(".address")
    .row
      .col-12
        %label= t(".address_name")
        = text_field_tag 'shipping_address[name]', '', 'stripe-shipping-address': true

    .row
      .col-12
        %label= t(".address_street1")
        = text_field_tag 'shipping_address[street1]', '', 'stripe-shipping-address': true
    .row
      .col-12
        %label= t(".address_street2")
        = text_field_tag 'shipping_address[street2]', ''

    .row
      .col-4
        %label= t(".address_postal_code")
        = text_field_tag 'shipping_address[postal_code]', '', 'stripe-shipping-address': true

      .col-8
        %label= t(".address_city")
        = text_field_tag 'shipping_address[city]', '', 'stripe-shipping-address': true

    .row
      .col-4
        %label= t(".address_country")
        = select_tag 'shipping_address[country_code]', options_for_select(CountryI18nHelper.translated_shipping_countries, @current_community.country), {}

      .col-8
        .us-only.hidden
          %label= t(".address_state")
          = select_tag 'shipping_address[state_or_province]', options_for_select(CountryI18nHelper.us_states), 'stripe-shipping-address': true, prompt: "Select state"
    .row
      .col-12

  .row.stripe-payment
    - if stripe_in_use
      .col-12.payment-button-wrapper.paypal-button-wrapper
        =# button_tag t("stripe_accounts.add_and_pay"), id: "send-add-card", class: 'checkout-with-stripe-button full_butn'
        %button{class: 'checkout-with-stripe-button full_butn', id: 'send-add-card' }
          = t("stripe_accounts.add_and_pay")
          = image_tag "usd.png"
          
    

  - if stripe_in_use
    .row
      .col-12
        %p
          = t("stripe_accounts.card_not_stored").html_safe

- if stripe_in_use
  - content_for :extra_javascript do
    :javascript
      var stripe = Stripe("#{publishable_key}");
      var elements = stripe.elements();
      var style = {
        base: {
          color: '#32325d',
          lineHeight: '24px',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '16px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      };

      $("#shipping_address_country_code").change(function(){
        if($(this).val() == 'US') $(".us-only").show(); else $(".us-only").hide(); 
      });
      $("#shipping_address_country_code").trigger("change");

      var card = elements.create('card', {style: style});
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
          displayError.className = 'error';
        } else {
          displayError.textContent = '';
          displayError.className = 'hidden';
        }
      });

      $("#send-add-card").on('click', function(event) {
        event.preventDefault();
        var form = $("#transaction-form");
        form.validate();
        $('input[stripe-shipping-address]').each(function(){
          $(this).rules('add', { required: true });
        });
        if(!form.valid()) {
          return false;
        }

        stripe.createToken(card).then(function(result) {
          var errorElement = document.getElementById('card-errors');
          if (result.error) {
            errorElement.textContent = result.error.message;
            errorElement.className = 'error';
          } else {
            errorElement.className = 'hidden';
            var input = $("<input/>", {type: "hidden", name: "stripe_token", value: result.token.id});
            form.append(input);
            $("#payment_type").val("stripe");
            if(form.valid()) {
              form.submit();
            }
          }
        });
      });
