= render :partial => "conversations/conversation_header", locals: {other_party: conversation_other_party}
	
.centered-section-wide
	= render :partial => "transactions/details", locals: {role: role, is_author: is_author, price_break_down_locals: price_break_down_locals}

	= render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages}
- if params[:recieved_feedback].present?
	%input{type: "hidden", value: "#{params[:recieved_feedback]}", id: "feedback_id"}
	.add_product_modal.show_modal
		.modal_box
			.modal_heading
				.close X
			.modal_body
				= render partial: "people/testimonial_share_partial", locals: {person: @current_user}

- content_for :extra_javascript do
	:javascript
		$("#connect-to-facebook").click(function(){
			feedback_id = $("#feedback_id").val()
			FB.getLoginStatus(function(response){
				if (response.status === "connected") {
					FB.ui({
						display: 'popup',
						method: 'share',
						href: "#{person_url(@current_user)}" + "?feed_id=" + feedback_id
					});
				} else if (response.status === "not_authorized"){
					FB.login();
				} else {
					FB.login();
				}
			});
		});

		$('.close').click(function(){
			$('.add_product_modal').removeClass('show_modal');
		});

		$("#share_on_mail").attr('href', "mailto:?body="+$(this).data('image'))

		$('#connect-to-twitter').click(function(){
			feedback_id = $("#feedback_id").val();
			var url = "#{person_url(@current_user)}" + "%3Ffeed_id%3D" + feedback_id;
			$.ajax({
				type: 'GET',
				url: "#{person_path(@current_user)}",
				data: {feed_id: feedback_id}
			});
			return popitup("https://twitter.com/share?url="+ url)
		})

		$('#connect-linkedin-share').click(function(){
			feedback_id = $("#feedback_id").val();
			var url = "#{person_url(@current_user)}" + "%3Ffeed_id%3D" + feedback_id;
			return popitup("https://www.linkedin.com/sharing/share-offsite/?url="+ url)
		})

		function popitup(url) {
			var left = (screen.width/2)-(325);
			newwindow=window.open(url,'name','height=600,width=650,left='+left);
			if (window.focus) {newwindow.focus()}
			return false;
		}