<div class="mobile_view_slide_navbar">
  <div class="inner_mobile_view_slide_navbar">
    <div class="items">
      <a href="javascript:void(0);" class="cross">&#10060;</a>
      <%= link_to 'Profile', logged_in? ? person_path(@current_user) : login_path%>
      <%= link_to logged_in? ? transactions_person_messages_path(@current_user) : login_path do%>
        Transaction
        <%if topbar_props[:unReadTransactionalMessagesCount].present? && topbar_props[:unReadTransactionalMessagesCount] > 0%> 
          <span class="custom_notification"><%=topbar_props[:unReadTransactionalMessagesCount]%></span>
        <%end%>
      <%end%>
      <%= link_to 'Favorite', logged_in? ? person_favorite_listings_path(@current_user) : login_path%>
      <%= link_to 'Settings', logged_in? ? person_settings_path(@current_user) : login_path%>
      <% if logged_in? %>
        <%= link_to 'Log out', logout_path%>
      <% else %>
        <%= link_to 'Log In', login_path%>
      <% end %>
      <a href="#"></a>
    </div>
    <div class="row-with-dynamiv-divider"></div>
    <div class="items">
      <%= link_to 'About', about_infos_path %>
      <%#=link_to 'Contact us', new_user_feedback_path%>
      <%=link_to 'Contact us', contact_page_path %>
      <%=link_to 'Terms and conditions', '/terms_and_conditions_page' %>
      <%= link_to 'Invite new members to trade with', new_invitation_path%>
      <%= link_to 'Post your offers', new_listing_path%>
    </div>
  </div>
</div>
<!-- mobile view footer -->
<div class="mobile_navbar_bottom">
  <div class="menus">
    <div class="icons">
      <%=link_to search_path, class: 'inner_icon' do %>
        <%=image_tag 'home_2.png', alt: ''%>
        <span>Home</span>
      <%end%>
    </div>
    <div class="icons">
      <%=link_to explore_path, class: 'inner_icon' do%>
        <%=image_tag 'search.png', alt: ''%>
        <span>Explore</span>
      <%end%> 
    </div>
    <div class="icons">
      <%= link_to new_listing_path, class: 'inner_icon' do%>
        <%=image_tag 'plus.png', alt: ''%>
        <span>Post Offer</span>
      <%end%>
    </div>
    <div class="icons">
      <%=link_to @current_user.present? ? person_inbox_path(@current_user) : '', class: 'inner_icon' do %>
        <%if topbar_props[:unReadDirectMessageCount].present?  && topbar_props[:unReadDirectMessageCount] > 0%>
          <span class="tool_alert"><%=topbar_props[:unReadDirectMessageCount]%></span>
        <%end%>  
        <%=image_tag 'mail.png', alt: ''%>
        <span>Inbox</span>
      <%end%>
    </div>
    <div class="icons slide_menu">
      <a href="javascript:void(0);" class="inner_icon">
        <%if topbar_props[:unReadTransactionalMessagesCount].present? && topbar_props[:unReadTransactionalMessagesCount] > 0 %>
          <span class="tool_alert"><%=topbar_props[:unReadTransactionalMessagesCount]%></span>
        <%end%>  
        <%=image_tag 'menu_2.png', alt: ''%>
        <span>More</span>
      </a>
    </div>
  </div>
</div>


<script type="text/javascript">
  <% content_for :javascript do %>
  $(document).ready(function(){
    $('.slide_menu').click(function(){
      if (!$('.mobile_view_slide_navbar').hasClass('add')) {
        $('.mobile_view_slide_navbar').addClass('add');
      }
      else{
        $('.mobile_view_slide_navbar').removeClass('add');
      }
    });
    $('.cross').click(function(){
      $('.mobile_view_slide_navbar').removeClass('add');
    })
  });
  <% end %>
</script>

















