%tr
  - if conversation[:type].eql?(:avon_bucks)
    %td Avontage Bucks
    %td=l(conversation[:last_transition_at], format: :short_date)
    %td=l(conversation[:last_transition_at], format: :short_date)
    %td
      - person = Person.find(conversation[:operator_id])
      = link_to_unless(person.deleted, PersonViewUtils.person_display_name(person, @current_community), person_path(person.username))  
    %td
    %td
      - if conversation[:operation].eql?("added") || conversation[:operation].eql?("self added")
        = "+ #{MoneyViewUtils.to_humanized(conversation[:amount])} Avon"
    %td
      - unless conversation[:operation].eql?("added") || conversation[:operation].eql?("self added")
        = "- #{MoneyViewUtils.to_humanized(conversation[:amount])} Avon"
    %td
      - if conversation[:operation].eql?("added") || conversation[:operation].eql?("self added")
        Added
      - else
        Deducted
      = link_to 'View Details', "javascript:void(0);", class: 'button get-started listing_status_filter disable-lnk'
  - else
    - txn  = Transaction.find_by(id: conversation[:transaction_id])
    %td=conversation[:current_is_starter] ? "Purchase" : "Sell"
    %td=l(conversation[:transaction_started_at], format: :short_date)
    %td=l(conversation[:last_activity_at], format: :short_date)
    %td= link_to_unless conversation[:other].deleted, PersonViewUtils.person_display_name(conversation[:other], @current_community), person_path(conversation[:other])
    %td=link_to_unless(conversation[:listing_deleted], conversation[:listing_title], conversation[:listing_url])
    %td
      - unless conversation[:current_is_starter]
        = '+'
        - if txn.payment_gateway.eql?(:coupon_pay)
          - if txn.payment_total
            = image_tag "black_a_img.png", width: '14px'
            = MoneyViewUtils.to_humanized(txn.payment_total - txn.commission).split('$')[1]
        - else
          = txn.payment_total ? MoneyViewUtils.to_humanized(txn.payment_total - txn.commission) : ""
    %td
      - if conversation[:current_is_starter]
        = '-'
        - if txn.payment_gateway.eql?(:coupon_pay)
          - coupon_discount = txn.coupon_discount.present? ? txn.coupon_discount : Money.new(0, 'USD')
          =txn.payment_total ? MoneyViewUtils.to_humanized(txn.payment_total - coupon_discount) : ""
        - else
          =txn.payment_total ? MoneyViewUtils.to_humanized(txn.payment_total) : ""
    %td
      - status = t("admin.communities.transactions.status.#{txn.payment_gateway}.#{txn.status}")
      - if txn.show_link?
        = link_to status, person_transaction_path(@current_user, txn.id)
      - else
        = status
      = link_to 'View Details', person_transaction_path(@current_user, txn.id), class: 'button get-started listing_status_filter'
      