.custom_tabs
  %button#defaultOpen.tablink.fir{:onclick => "openPage('transactional-tab', this)", class: "#{params[:history].present? && params[:history].eql?('transactions') || params[:history].blank? ? 'active': ''}"}
    = t("layouts.no_tribe.transaction_history")
  %button.tablink.sec{:onclick => "openPage('avon-bucks-tab', this)", class: "#{params[:history].present? && params[:history].eql?('Avon-BUCKS') ? 'active' : ''}"}
    = t("layouts.no_tribe.avon_buck_history")
  #transactional-tab.tabcontent
    - content_for :title_header do
      %h1= t("layouts.no_tribe.transaction_history")

    .undo-mobile-wrapper-margin#transactions
      - if @current_user.present?    
        .row.coupan_balances
          %span.people-custom-fields-title.coupan_title Your Available Avon-BUCKS:
          %span.price
            = MoneyViewUtils.to_humanized(@current_user.coupon_balance).html_safe
        %br

      - if inbox_rows.present?
        = render :partial => "inbox_row", :collection => inbox_rows, :as => :conversation, locals: { payments_in_use: payments_in_use }
        .row
          .col-12
            = will_paginate(inbox_rows, params: {history: "transactions"})
      - else
        #no_conversations
          = t("conversations.index.no_received_messages")
  #avon-bucks-tab.tabcontent
    - if @current_user.present?    
      .row.coupan_balances
        %span.people-custom-fields-title.coupan_title Your Available Avon-BUCKS:
        %span.price
          = MoneyViewUtils.to_humanized(@current_user.coupon_balance).html_safe
      %br

    - if avon_bucks_histories.present?
      .undo-mobile-wrapper-margin#conversations
        = render :partial => "transaction_row", :collection => avon_bucks_histories, :as => :history
        .row
          .col-12
            = will_paginate(avon_bucks_histories, params: {history: "Avon-BUCKS"})
    - else
      #no_conversations
        = t("conversations.avon_bucks_history.no_history")

- content_for :extra_javascript do
  :javascript
    function openPage(pageName,elmnt) {
      $('.tabcontent').hide();
      $('.tablink').css('background-color', '');
      $('#'+pageName).show();
      $(elmnt).siblings().removeClass('active');
      elmnt.classList.add("active");
    }
    // Default open the content accordingly
    ActiveAvonBucksTab = "#{params[:history].present? && params[:history].eql?('Avon-BUCKS') ? true : false}";
    if(ActiveAvonBucksTab == 'true'){
      $('#avon-bucks-tab').show();
    }else{
      $('#transactional-tab').show();
    }
