- content_for :title_header do
  %h1= t("layouts.no_tribe.transactions")

.undo-mobile-wrapper-margin#transactions
  - if @current_user.present?    
    .row.coupan_balances
      %span.people-custom-fields-title.coupan_title Your Available Avon-BUCKS:
      %span.price
        = MoneyViewUtils.to_humanized(@current_user.coupon_balance).html_safe
    %br
    
  - if inbox_rows.present?
    = render :partial => "transaction_row", :collection => inbox_rows, :as => :conversation, locals: { payments_in_use: payments_in_use }
    = will_paginate(inbox_rows)
    = pageless(inbox_rows.total_pages, '#transactions', request.path, t('conversations.index.loading_more_messages'))
  - else
    #no_conversations
      = t("conversations.index.no_received_messages")
