- content_for :title_header do
  %h1= t("layouts.no_tribe.avon_buck_history")

.undo-mobile-wrapper-margin#transactions
  - if @current_user.present?    
    .row.coupan_balances
      %span.people-custom-fields-title.coupan_title Your Available Avon-BUCKS:
      %span.price
        = MoneyViewUtils.to_humanized(@current_user.coupon_balance).html_safe
    %br
    
  - if history_rows.present?
    = render :partial => "transaction_row", :collection => history_rows, :as => :history
    = will_paginate(history_rows)
    = pageless(history_rows.total_pages, '#transactions', request.path, t('conversations.index.loading_more_messages'))
  - else
    #no_conversations
      = t("conversations.avon_bucks_history.no_history")
