- content_for :title_header do
  %h1= t("layouts.no_tribe.transaction_history")

.undo-mobile-wrapper-margin.redesign_mobile_wrapper#conversations
  - if @current_user.present?
    .new_coupon_work.redesign_coupan_work
      .inner_container
        .row.coupan_balances
          %span.people-custom-fields-title.coupan_title Your Avontage Bucks Balance:
          %span.price
            = image_tag "avonatge_currency.png"
            = MoneyViewUtils.to_humanized(@current_user.coupon_balance).split('$')[1].html_safe
        .load_balance
          = link_to 'Reload Your Balance', reload_your_balance_person_settings_path(@current_user), class: "button load_button"
    %br

  = form_tag '', :method => :get, id: 'transaction_filter_form' do
    .row
      .col-6
        = text_field_tag :q, params[:q], placeholder: 'Search for a transaction title or other party involved'
      .col-3
        = submit_tag 'Search', class: 'button listing-search-button'
      .col-3
        = select_tag 'status', options_for_select(@statuses, selected: params[:status]), prompt: 'All statuses', id: 'transaction_status_filter', class: 'listing_status_filter'   

  //%span#admin_transactions_count= page_entries_info(@transactions, :model => "Transaction").html_safe
  - if result_rows.present?
    .transaction_table_section
      .table_head
        .table_box.one
          Type
        .table_box.two
          Started
        .table_box.three
          Latest activity
        .table_box.four
          Other Member
        .table_box.five
          Offer Title
        .table_box.six
          Sell
        .table_box.seven
          Purchase
        .table_box.eight
          Status

      .table_body#admin_transactions
        = render :partial => "transaction_row", :collection => result_rows, :as => :conversation, locals: { payments_in_use: payments_in_use }

    = will_paginate(transactional_inbox_rows)
    = pageless(transactional_inbox_rows.total_pages, '#admin_transactions', request.url, t('conversations.index.loading_more_messages'))

  - else
    #no_conversations
      = t("conversations.index.no_received_messages")

- content_for :extra_javascript do
  :javascript
    $("#transaction_status_filter").on('change', function(){
      $("#transaction_filter_form").submit();
    })